/* font face*/
@font-face {
    font-family: 'Rage Italic';
    src: url('../fonts/Rage Italic.eot');
    src: url('../fonts/Rage Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Rage Italic.woff') format('woff'),
    url('../fonts/Rage Italic.ttf') format('truetype'),
    url('../fonts/Rage Italic.svg') format('svg');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rupee_Foradian';
    src: url('../fonts/Rupee_Foradian.eot');
    src: url('../fonts/Rupee_Foradian.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Rupee_Foradian.woff') format('woff'),
    url('../fonts/Rupee_Foradian.ttf') format('truetype'),
    url('../fonts/Rupee_Foradian.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet MS.eot');
    src: url('../fonts/Trebuchet MS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Trebuchet MS.woff') format('woff'),
    url('../fonts/Trebuchet MS.ttf') format('truetype'),
    url('../fonts/Trebuchet MS.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd-Medium';
    src: url('../fonts/FuturaStd-Medium.eot');
    src: url('../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/FuturaStd-Medium.woff') format('woff'),
    url('../fonts/FuturaStd-Medium.ttf') format('truetype'),
    url('../fonts/FuturaStd-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd-Heavy';
    src: url('../fonts/FuturaStd-Heavy.eot');
    src: url('../fonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/FuturaStd-Heavy.woff') format('woff'),
    url('../fonts/FuturaStd-Heavy.ttf') format('truetype'),
    url('../fonts/FuturaStd-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{

    padding: 5px; margin:0px; font-family: 'Trebuchet MS',Sans-Serif; padding-top: 0px; background: #fff;
}
.container{
    max-width: 960px !important;
    height: 100%; padding:0px !important
}
header .logoSection{
    height: 130px;
}
header .logoSectionLeft{
    height: 75px;
    float: left;
}
header .logoSectionRight{
    height: 75px;
    float:right;
    margin-top: 28px;
}

nav.mainnav{
    height: 41px;
}
nav.mainnav ul{
    display: block; list-style-type: none; padding: 0px; margin: 0px;
}
nav.mainnav ul li{
    display: inline-block;
}
nav.mainnav ul li a{
    font-family: 'FuturaStd-Medium'; font-size: 11px; line-height: 41px; display: block; padding: 0px 10px; text-transform: uppercase; text-decoration: none;
}

.secondnav{
    max-width: 960px !important;
    background-color: #009a3c;
}

.secondnav p{
    color: #fff;
    font-size: large;
    padding:10px 0px 2px 10px;
}

.slidesection{
    position: relative; margin-bottom: 40px;
}
.slidesection ul.slides{
    display:block; margin: 0px; padding: 0px; list-style-type: none;
}
.slidesection ul.slides li{
    display: block;
}
.slidesection ul.slides li a{
    display: block;
}
.slidesection .prenex{
    position: absolute; width:19px; height: 26px; text-indent: -999px; overflow: hidden;
    top:48%;
}
.slidesection .prenex.prev{
    background: url(../images/slide_controll.png) no-repeat 0px 0px;  left: 10px;
}
.slidesection .prenex.next{
    background: url(../images/slide_controll.png) no-repeat 0px -33px;  right:10px;
}

.slidesection .slidecontroll{
    display: block; list-style-type: none; margin: 0px; position: absolute; width: 100%; bottom: -35px; text-align: center;
}
.slidesection .slidecontroll li{
    display: inline-block; text-align: center;
}
.slidesection .slidecontroll li a{
    width: 9px; height: 9px; background: url(../images/slidenav.png) no-repeat -14px 0px; display: block;
}
.slidesection .slidecontroll li a:hover, .slidesection .slidecontroll li a.active{
    background: url(../images/slidenav.png) no-repeat 0px 0px;
}
/* Edited from here- Satyajeet*/

.middlesection .contents{
    max-width: 960px !important;
}

/* tab code by Satyajeet Paria */
.tabs {
    position: relative;
    margin: 40px auto;
    width: 900px;
}

.tabs input {
    position: absolute;
    z-index: 1000;
    width: 250px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
}
.tabs input#tab-2{
    left: 250px;
}
.tabs input#tab-3{
    left: 501px;
}

.tabs label {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 20px;
    float: left;
    display: block;
    width: 250px;
    color: #000;
    top: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 8px;
    display: block;
}

.tabs input:hover + label {
    background: #00a856;
    top: -8px;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}
.tabs input:hover + label:after{
    background: #00a856;
}
.tabs input:hover + label ~ .clear-shadow {
    background: #00a856;
    top: -8px;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.tabs input:checked:hover + label {
    top: 0;
}
.tabs input:checked:hover + label:after{
    background: #fff;
}
.tabs input:checked:hover + label ~ .clear-shadow {
    top: 0;
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.tabs input.tab-selector-1:hover + label.tab-label-1 ~ .clear-shadow{
    z-index: 3;
}

.tabs input.tab-selector-2:hover + label.tab-label-2 ~ .clear-shadow {
    z-index: 2;
}

.tabs input.tab-selector-3:hover + label.tab-label-3 ~ .clear-shadow {
    z-index: 1;
}

.tabs input.tab-selector-4:hover + label.tab-label-4 ~ .clear-shadow {
    z-index: 0;
}
.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
    z-index: 6;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.clear-shadow {
    background: #00a856;
    position: relative;
    top: 0;
    height: 10px;
    margin-bottom: -10px;
    clear: both;
    z-index: -2;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.content {
    background: #fff;
    position: relative;
    width: 100%;
    height: 920px;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100%;
    padding: 10px 40px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    bottom: 0px;
    z-index: 100;
    width: 100%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.2s;
    -moz-transition: all ease-out 0.2s 0.2s;
    -o-transition: all ease-out 0.2s 0.2s;
    -ms-transition: all ease-out 0.2s 0.2s;
    transition: all ease-out 0.2s 0.2s;
}

.content div h2,
.content div h3{
    color: #398080;
}
.content div p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #777;
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
}


/* Tab ode ends here */

.dynamic_content{/*border:1px solid #d6d6d6;*/ border-radius:3px; min-height:370px; margin-bottom:10px; padding:10px; color:#1D1D1D; font-size:13px; text-align:justify;}
.dynamic_content h4{margin:0px 0; padding:5px 0;}
ul { list-style-type:none }
ul.innerlist{ list-style-type: disc }
.dynamic_contents li{list-style-type: none; padding:5px 0 5px 0;}
.dynamic_contents li span{font-size: large; font-weight: bold; font-size: 16px;}
.content-main {
    position: absolute;
    min-height: 400px;
    top: 40px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    overflow: hidden;

}

.content-child{
    width: 100%;
    /* overflow: auto; */
    height: 100%;
    padding-right: 15px;

}

.column{
    min-height: 300px;
    min-width: 900px;
    display: inline-block;
}

.column1{
    width: 440px;
    height:300px;
    float: left;

}
.column2{
    width: 440px;
    height:300px;
    float: right;

}

.Submit{
    min-width: 850;
    min-height: 50px;

}

.title2{margin:0; padding:10px 0 0 20px; color:#fff;}
.page_divider{border-left:1px dashed #999; padding-left:20px;}
.faq td{color:#373737; padding:8px 10px;}

/* Edit ends here - Satyajeet*/

.middlesection .logincontainer{
    width: 360px; background: #25c159;
}

.middlesection .logincontainer .heading{
    background: #ffdc00; text-align: center; padding-top: 10px; line-height: 25px; font-size: 20px; font-weight: bold; min-height: 35px;
}
.middlesection .logincontainer .logincontent{
    padding: 29px;
    background-color: #133984;
}
.middlesection .logincontainer .logincontent p{
    display: block; padding: 0px; margin: 0px;
}
.middlesection .logincontainer .logincontent input{
    background: #FFF; display: inline-block;  border: NONE; background: #FFF;
    border-radius: 3px; -moz-border-radius: 0px; webkit-border-radius: 0px;
    padding: 9px;
    width: 277px; vertical-align: top;
    margin:10px;
    font-size: 16px; font-family: 'Trebuchet MS'; color: #000
}
.middlesection .logincontainer .logincontent .iconlog{
    width: 20px; height: 20px; background-color: #787a75; background-repeat: no-repeat; background-image: url(../images/login_logo.png); display: inline-block;
}
.middlesection .logincontainer .logincontent input[type=submit]{
    width: 35%; background: #ffdc00; font-size: 12px; font-weight: bold;margin-left: 95px;margin-left: 100px;
}
.middlesection .logincontainer .logincontent .iconlog.user{
    background-position: 5PX 3PX;display: none;
}
.middlesection .logincontainer .logincontent .iconlog.pass{
    background-position: 5PX -17PX;display: none;
}

.middlesection .homeleftContent{
    /*padding-left: 50px;*/ width: 580px;
}
.middlesection .homeleftContent h1{
    display: block; font-weight: bold; font-size: 22px; margin-bottom: 20px;
}
.middlesection .homeleftContent h1 span{
    color:#009a3c
}
.middlesection .homeleftContent p{
    display: block; margin: 0px; margin-bottom: 10px; font-style: none; font-size: 15px;
}

footer{
    background: #d6d6d6; margin-top: 10px ; padding: 10px; text-align: right; z-index: 3;
}


footer label{
    text-align: left !important;
}



/******** inner page css****************/


/******** inner page css****************/

.pagetitle{

    color: #fff; font-size: 12px; font-weight: bold; background: #133984; padding: 10px 20px; margin-top: 10px;
}
.profilepage{
    margin-top: 10px;
}

.profilepage .profileinfo .leftsec{
    margin-right: 40px
}
.profilepage input[type=text]{
    width: 324px; height: 30px; border: 1px solid #ccc; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
.profilepage .profileinfo label{
    display: block; color: #666666; font-size: 13px;
}
.profilepage .profileinfo p{
    display: block; margin: 0px; margin-bottom: 10px;
}
.profilepage .profileinfo label.customlbl{
    display: inline-block; width: auto; margin-right: 40px; color: #000
}
.cusselectbox{
    position: relative; display: inline-block; margin-right: 21px
}
.profilepage .profileinfo input[type=submit]{
    background: #ffdc00; padding: 8px 30px; border: none; font-weight: bold; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 15px;
}

.profilepage .profileinfo input[type=button]{
    background: #ffdc00; padding: 8px 30px; border: none; font-weight: bold; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 15px;
}
.profilepage .profileinfo input[type=button]:disabled{background: #A6BEB3 !important;}
.cusselectbox .skin{
    width: 92px;
    height: 32px;
    line-height: 32px;
    border-radius: 0;
    border: 1px solid #999999;
    background: #fff url(../images/select_icon.png)no-repeat 74px;
    color: #010101;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    position: relative;
    display: inline-block;
    padding: 0 5px;
}
.cusselectbox select{
    display: block;
    position: absolute;
    top: 0px;
    height: 34px;
    width: 92px;
    opacity: 0;
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    z-index: 9;
}

.border_title{
    color: #666666; font-size: 18px; font-weight: bold;   margin-top: 10px; padding-bottom: 20px; border-bottom: 1px solid #666666; margin-bottom: 15px;
}
.workinfo {
    padding: 10px 0px
}
.workinfo .lbls{
    color: #666666; font-size: 16px; font-weight: bold; display:block; margin: 10px 0px
}
.profilesetting{

}
.profilesetting .leftsec{
    width:300px;
}
.profilesetting .leftsec .heading{
    color: #666666; font-size: 16px; font-weight: bold;
}
.profilesetting .leftsec .inputlbl{
    padding: 10px 0px; color: #000; font-weight: bold;
}
.profilesetting .leftsec .inputlbl input{
    margin: 0px; margin-right: 12PX;
}
.profilesetting .leftsec  .address{
    color: #000; font-weight: bold; padding-left: 30PX; font-size: 13px
}
.profilesetting .leftsec  .address button{
    border:none; background: url(../images/delete_icon.png) no-repeat;  padding-left: 36px; line-height: 23px; margin-top: 20px; color: #3399ff; font-size: 13px; font-weight: bold;
}
.profilesetting .leftsec .bottomtxt{
    color: #000; font-size: 10px; margin-top: 25px; font-weight: bold;
}
.profilesetting .leftsec .bottomtxt span{
    color: #1807f8;
}
.profilesetting .addNewAdd{
    width: 495px; margin-right: 50px;
}

.profilesetting .addNewAdd input[type=button]{
    background: #ffdc00;
    padding: 8px 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 15px;
}

.profilesetting .addNewAdd h1{
    display: block; color: #666666; font-weight: bold; font-size: 24px;  margin-bottom: 25px; margin-top: 0px; line-height: 20px;
}
.addNewAdd .profilepage input[type=text]{
    width: 324px; height: 30px; border: 1px solid #ccc; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; display: inline-block;
}
.addNewAdd .profilepage textarea{
    width: 324px; height: 80px; border: 1px solid #ccc; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; display: inline-block;
}
.addNewAdd .profilepage label{
    display: block; color: #333333; font-size: 14px; display: inline-block; font-weight: bold;  width: 120px;
}
.addNewAdd .cusselectbox{
    margin-left:-4px; margin-bottom: 10px;
}
.addNewAdd .cusselectbox .skin{
    border: 1px solid #ccc;
    height: 36px;
    width: 326px;
    background: #fff url(../images/select_icon.png)no-repeat 314px;
}
.addNewAdd .cusselectbox select{
    width: 339px; height: 36px;
}

/***********Redemption Page***********/
.label_inline
{
    display: -webkit-inline-box!important;
    margin-right: 14px;
    width:84px;
}

.tddiv
{
    border-right:solid #fff 2px;
    padding-left: 8px;
    text-align: center;
}

.trdiv
{
    background-color:#00a856;color: #fff;height:40px;

}

.img_class
{
    height: 40px;
    position: relative;
    right: -89px;
}
/*************Added By Koninika************************/

.tablecolorborder
{
    border:1px solid #00a856 !important; padding:4px; background:#fff; margin-bottom:5px;
    width: 100%;
    /* padding-right: 176px; */

}


.box_top
{
    color: #fff; font-size: 18px; font-weight: bold; background: #00a856; padding: 10px 20px; margin-top: 10px;

    border-width:1px;
    border-style:solid;
    /*height:56px;*/

    /*margin-top:25px;*/



    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;

}

.box_top .heading{
    color: #fff; font-size: 12px; display: inline-block; padding-left: 5px;
}

/******************************Program Management*********************************/

.profilepage .profileinfo select{

    width: 323px;
    height: 30px;
}

.verified {
    background-color: lightgreen;
}

.not-verified {
    background-color: #F20056;
}

.date_arrow {
    width: 8px;
    height: 4px;
    float: right;
    background: url(../images/date_arrow.png) no-repeat;
    margin-top: 10px;
    cursor: pointer;
}


.part_no_verify_status {
    visibility: hidden;
}

.part_no_not_verify_status {
    visibility: visible;
}
.tab_head{

    background-color:  #e9bc06;
}



.tree_conatiner{
    border: 1px solid #d0cfcf; background: #fff; -webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.2); width: 270px; height: 380px; z-index: 999999; position: absolute;
    left: 50%; margin-left: -135px; top:50%; margin-top: -190px;
}

.tree_conatiner .close_btn{
    position: absolute; right: 3px; top: 3px; width: 19px; height: 19px; background: #808080; cursor: pointer; color: #fff; line-height: 19px; text-align: center; font-weight: background;
}

.alert-overlay2{
    width:100%; height: 100%; position: fixed;  z-index: 9998;  background:#000; opacity:.6; filter:alpha(opacity=60);
}



/******************Added Loader CSS by Hassan Ahamed**************************/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    /*border: 1px solid black;*/
}

.loader img {

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;


}

.chart {
    width: 1000px;
    height: 500px;
}

.chartdiv{

    width: 500px;
    height: 500px;
}