<div class="cc view">
    <div class="container">

        <!-- Start: content -->
        <!-- Start: credit card -->
        <div class="container points">
            <span class="title">Choose Your Mode Of Payment</span>
            <div class="points_left">
                <span class="left">
                    <span class="left_bg">
                        <ul>
                            <li><a href="" data-ng-click="route_to('pp')">Points</a></li>
                            <li><a href="#/gv">e-Gift Voucher</a></li>
                            <li><a href="" data-ng-click="route_to('nb')">Net Banking</a></li>
                            <li class="my-active"><a href="#">Credit Card</a></li>
                            <li><a href="" data-ng-click="route_to('dc')">Debit Card</a></li>
                        </ul>
                    </span>
                </span>
                <div class="right">
                    <span class="heading">Pay using Credit Card
                        <ul class="payment_method">
                            <li>
                                <img src="../Content/custom_images/Footer/Master.png" /></li>
                            <li>
                                <img src="../Content/custom_images/Footer/Visa.png" /></li>
                            <li>
                                <img src="../Content/custom_images/Footer/Maestro.png" /></li>
                        </ul>
                    </span>

                    <script>
                        $('#myform').submit(function () { //listen for submit event

                            



                            //$(this).append('<input name="' + Order_Id + '" type="text" />');

                        });

                    </script>

                    <div class="point_body">
                        <form id="myform" method="POST" action="http://payment.annectos.net/checkout.aspx" class="credit-card" enctype="multipart/form-data">
                            <span class="redem_points">

                                <input type="text" name="Amount" ng-model="cc.total_amount" style="display:none" />
                                <!--<input type="hidden" name="Merchant_Id" ng-model="cc.Merchant_Id">-->
                                <input type="text" name="Order_Id" ng-model="cc.Order_Id" style="display:none">
                                <input type="text" name="Redirect_Url" ng-model="cc.Redirect_Url" style="display:none">
                                <input type="text" name="billing_cust_name" ng-model="cc.billing_cust_name" style="display:none">
                                <input type="text" name="billing_cust_address" ng-model="cc.billing_cust_address" style="display:none">
                                <input type="text" name="billing_cust_country" ng-model="cc.billing_cust_country" style="display:none">
                                <input type="text" name="billing_cust_state" ng-model="cc.billing_cust_state" style="display:none">
                                <input type="text" name="billing_cust_tel" ng-model="cc.billing_cust_tel" style="display:none">
                                <input type="text" name="billing_cust_email" ng-model="cc.billing_cust_email" style="display:none">
                                <input type="text" name="delivery_cust_name" ng-model="cc.name" style="display:none">
                                <input type="text" name="delivery_cust_address" ng-model="cc.address" style="display:none">
                                <input type="text" name="delivery_cust_country" ng-model="cc.delivery_cust_country" style="display:none">
                                <input type="text" name="delivery_cust_state" ng-model="cc.state" style="display:none">
                                <input type="text" name="delivery_cust_tel" ng-model="cc.mobile_number" style="display:none">
                                <input type="text" name="delivery_cust_notes" ng-model="cc.delivery_cust_notes" style="display:none">
                                <input type="text" name="Merchant_Param" ng-model="cc.Merchant_Param" style="display:none">
                                <input type="text" name="billing_cust_city" ng-model="cc.billing_cust_city" style="display:none">
                                <input type="text" name="billing_zip_code" ng-model="cc.billing_zip_code" style="display:none">
                                <input type="text" name="delivery_cust_city" ng-model="cc.delivery_cust_city" style="display:none">
                                <input type="text" name="delivery_zip_code" ng-model="cc.delivery_zip_code" style="display:none">


                                <span class="field_block">
                                    <label class="net_field">Credit Card Number</label>
                                    <input type="text" />
                                </span>
                                <span class="field_block">
                                    <label class="net_field">Name on Credit Card</label>
                                    <input type="text" />
                                </span>
                                <span class="field_block">
                                    <span class="exp_field_block">
                                        <label class="net_field">Expiry Details (Valid Thru)</label>
                                        <input type="text" class="exp_field" placeholder="MM / YYYY" />
                                    </span>
                                    <span class="exp_field_block">
                                        <label class="net_field">CVV</label>
                                        <input type="text" class="cvv_field" />
                                        <span class="help">
                                            <span class="help_bg"></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="field_block">
                                    <input type="submit" value="PAY Now" class="btn_all" />
                                </span>

                            </span>
                        </form>
                        <span class="bottom_text_r">By placing the order, you have read and agree to Annectoś.com Terms of Use and Privacy Policy.
                        </span>
                    </div>

                </div>
            </div>

            <div class="points_right">
                <div class="shipping_addres_bg">
                    <span class="shipping_text">SHIPPING ADDRESS<a href="#/ship">Change</a></span>
                    <ul class="address">
                        <li>{{selected_address.name}}</li>
                        <li>{{selected_address.address}}</li>
                        <!--<li>Bannerghatta Road</li>-->
                        <li>{{selected_address.city}}, {{selected_address.state}}</li>
                        <li>{{selected_address.pincode}}, Mobile: {{selected_address.mobile_number}}</li>
                    </ul>
                </div>
                <div class="order_sumary_bg" data-ng-controller="cartController">
                    <span class="order_sum_text">Order summary ({{cart_size}} items)</p></span>
                    <ul class="order">
                        <li data-ng-repeat="cart_item in cart">
                            <span class="img_con">
                                <img src="{{cart_item.image.thumb_link}}"></span>
                            <span class="right_des">
                                <span class="price">₹ {{cart_item.final_offer * cart_item.quantity }}</span>
                                <span class="prd_title">{{cart_item.name}}</span>
                                <span class="prd_code">Code: {{cart_item.sku}}
                                    <br />
                                    QTY: 
                                    <p>{{cart_item.quantity}}</p>
                                </span>

                                <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" />
                            </span>
                        </li>
                        <!--<span class="scroll_bg"><span class="scroll"></span></span>-->
                    </ul>
                    <span class="shipping_r">Shipping<p>{{shipping}}</p>
                    </span>
                    <span class="order_total">order TOTAL<p>₹ {{total_amount_billable}}</p>
                    </span>
                </div>
            </div>

        </div>
        <!-- end: credit card -->


        <!-- End: content -->

        <!--  <form id="myform" action="http://localhost:3054/checkout.aspx" method="post">
        </form>-->



    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myform').submit(function () {
            window.open('', 'formpopup', 'width=800,height=800,resizeable,scrollbars');
            this.target = 'formpopup';
        });
    });


</script>
