<div class="pp view">
    <div class="container">

        <!-- Start: content -->
        <!-- Start: points -->

        <!-- Start: net banking -->

        <div class="container points Payment">
            <span class="title">Payment Details</span>
            <div class="points_left">

                <!--<form id="Form1" method="POST"  action="http://app.annectos.net:8084//checkout.aspx" class="credit-card" enctype="multipart/form-data"> -->
                <!--<form id="myform" method="POST" action="http://app.annectos.net:8084/checkout.aspx" class="credit-card">-->
                <div class="right">
                    <span class="heading"><span>You have</span> {{user_point}} points <b>(&#x20B9;{{point_amount}})</b> <span>in your account</span></span>
                    <div class="rpoints">
                        <div class="border">
                            <span>Redeem Points</span><input ng-change="redeem_points()" data-ng-model="redeem_point" value="{{redeem_point}}"  type="text" />
                        </div>
                    </div>
                    <div class="point_body">
                        <span class="redem_points">
                        <div style="padding-bottom: 0px;" class="border">
                            <form method="POST" action="">
                            <span class="field_block">
                                <span class="redem_points">
                                    <!--<form method="POST" action="">-->
                                        <span class="field_block" data-ng-repeat="gv in gv_list">
                                            <label>e-Gift Voucher Details</label>
                                            <input type="text" value="" data-ng-model="gv.gift_certificate_code"
                                                   placeholder=" Voucher #{{gv.id}}">

                                            <div class="add_voucher" >
                                                <a class="dvoucher"
                                                data-ng-click="validate_gv(gv.gift_certificate_code, $index)" >
                                                </a>
                                            </div>
                                            <div class="delete_voucher">
                                                <a class="dvoucher" data-ng-click="remove_gv($index)"></a></div>
                                                <span>

                                                    <span  ng-show="store_type != 'P'">(-₹ {{gv.amount}})</span>
                                                    <span  ng-show="store_type == 'P'">(-{{gv.amount * conv_ratio}} P)</span>
                                                 from your cart
                                                </span>
                                            <!--</div>-->
                                            </span>

                                    <!--</form>-->
                                </span>
                            </span>

                            <!--</form>-->
                        </div>
                        <form id="myform" method="POST"  action="http://app.annectos.net:8084/checkout.aspx"  class="credit-card">
                            <div class="total_amount">
                                <div class="comndiv">
                                    <div class="pleft">	Total Cart Amount:	</div>
                                    <div class="pright">
                                        <span class="points_btn" ng-show="store_type != 'P'" >&#x20B9; {{total_cart_amount}} </span>
                                        <span class="points_btn" ng-show="store_type == 'P'" >{{total_cart_amount * conv_ratio}} Points </span>
                                    </div>
                                </div>
                                <div class="comndiv">
                                    <div class="pleft">	Redeemed through points:	</div>
                                    <div class="pright">
                                        <span class="points_btn" ng-show="store_type != 'P'">&#x20B9; {{redeem_point_rs}}</span>
                                        <span class="points_btn" ng-show="store_type == 'P'"> {{redeem_point_rs * conv_ratio}} points</span>
                                    </div>
                                </div>
                                <div style="margin-bottom: 30px;" class="comndiv">
                                    <div class="pleft">	Redeemed through e-Gift Voucher:	</div>
                                    <div class="pright">
                                        <span class="points_btn" ng-show="store_type != 'P'">&#x20B9; {{gv_total}}</span>
                                        <span class="points_btn" ng-show="store_type == 'P'"> {{gv_total * conv_ratio}} points</span>
                                </div>
                                <div class="comndiv">
                                    <div class="pleft"><div>	Balance</div><span style="font-size: 12px;">(to be charged to you)</span>	</div>
                                    <div class="pright">&#x20B9;{{balance_amount}}</div>
                                </div>
                            <span class="field_block">
                                    <input type="button" value="PAY Now" class="btn_all" ng-click="RedeemPoint()">
                                    </span>
                            </div>

                            <!-- Form POST Element for Payment Gateway-->
                            <input type="text" name="ChkAmount" ng-model="pp.total_amount" style="display: none" />
		                    <input type="text" name="redeem_point" ng-model="redeem_point" style="display: none" />
                            <input type="text" name="Amount" ng-model="pp.total_amount" style="display: none" />
                            <input type="text" name="Order_Id" ng-model="pp.Order_Id" style="display: none">
                            <input type="text" name="Points" ng-model="pp.Points" style="display: none" />
                            <input type="text" name="Points_Inr" ng-model="pp.Points_Inr" style="display: none" />
                            <input type="text" name="Actual_Amount" ng-model="pp.actual_amount" style="display: none" />
                            <input type="text" name="EGift_VNO" ng-model="pp.EGift_VNO" style="display: none">
                            <input type="text" name="EGift_Amt" ng-model="pp.EGift_Amt" style="display: none">
                            <input type="text" name="Redirect_Url" ng-model="pp.Redirect_Url" style="display: none">
                            <input type="text" name="billing_cust_name" ng-model="pp.billing_cust_name" style="display: none">
                            <input type="text" name="billing_cust_address" ng-model="pp.billing_cust_address" style="display: none">
                            <input type="text" name="billing_cust_country" ng-model="pp.billing_cust_country" style="display: none">
                            <input type="text" name="billing_cust_state" ng-model="pp.billing_cust_state" style="display: none">
                            <input type="text" name="billing_cust_tel" ng-model="pp.billing_cust_tel" style="display: none">
                            <input type="text" name="billing_cust_email" ng-model="pp.billing_cust_email" style="display: none">
                            <input type="text" name="delivery_cust_name" ng-model="pp.name" style="display: none">
                            <input type="text" name="delivery_cust_address" ng-model="pp.address" style="display: none">
                            <input type="text" name="delivery_cust_country" ng-model="pp.delivery_cust_country" style="display: none">
                            <input type="text" name="delivery_cust_state" ng-model="pp.state" style="display: none">
                            <input type="text" name="delivery_cust_tel" ng-model="pp.mobile_number" style="display: none">
                            <input type="text" name="delivery_cust_notes" ng-model="pp.delivery_cust_notes" style="display: none">
                            <input type="text" name="Merchant_Param" ng-model="pp.Merchant_Param" style="display: none">
                            <input type="text" name="billing_cust_city" ng-model="pp.billing_cust_city" style="display: none">
                            <input type="text" name="billing_zip_code" ng-model="pp.billing_zip_code" style="display: none">
                            <input type="text" name="delivery_cust_city" ng-model="pp.delivery_cust_city" style="display: none">
                            <input type="text" name="delivery_zip_code" ng-model="pp.delivery_zip_code" style="display: none">
                            <!-- End Of Form Post Elements -->

                        </form>
                        </span>
                        <div class="btm_text">By placing the order, you have to read and agree to anncetos.com tearms of use and privacy policy.</div>
                    </div>

                </div>
            </div>

            <div class="points_right">
                <div class="shipping_addres_bg">
                    <span class="shipping_text">SHIPPING ADDRESS<a href="#/ship">Change</a></span>
                    <ul class="address">
                    <li>{{selected_address.name}}</li>
                    <li>{{selected_address.address}}</li>
                    <!--<li>Bannerghatta Road</li>-->
                    <li>{{selected_address.city}}, {{selected_address.state}}</li>
                    <li>{{selected_address.pincode}}, Mobile: {{selected_address.mobile_number}}</li>
                    </ul>

                </div>
                <div class="order_sumary_bg" data-ng-controller="cartController">
                <span class="order_sum_text">Order summary ({{cart_size}} items)</p></span>
                <ul class="order" style="height: 200px; overflow: auto;">
                <li data-ng-repeat="cart_item in cart">
                    <span class="img_con"><img src="{{cart_item.image.thumb_link}}"/></span>
                    <span  class="right_des">
                    <!--<span class="price">&#x20B9; 3,149</span>-->
                    <span class="price" ng-show="store_type != 'P'">&#x20B9; {{cart_item.final_offer * cart_item.quantity }}</span>
                    <span class="price" ng-show="store_type == 'P'">{{cart_item.final_offer * cart_item.quantity * conv_ratio }}</span>
                        <span class="prd_title">Puma Women White Ferrari LS Shopper...</span>
                        <span class="prd_code">Product Code: 147004</span>
                        <span class="prd_code">SIZE: <p>One Size</p>  |  QTY: <p>1</p></span>
                        <span><img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" /></span>
                    </span>

                </li>
                <!--<span class="scroll_bg"><span class="scroll"></span></span>-->
                </ul>
                <span class="shipping_r">Shipping<p>{{shipping}}</p>
                </span>
                <span class="order_total" ng-show="store_type != 'P'" >order TOTAL: <p>₹ {{total_amount_billable}}</p>    </span>
                <span class="order_total" ng-show="store_type == 'P'" >order TOTAL: <p> {{total_amount_billable * conv_ratio}} Points</p>
                </span>
                </div>


            </div>

        </div>



        </form>
        <!-- end: net banking -->









        <!--<div class="container points">-->
            <!--<span class="title">Payment Details</span>-->
            <!--<div class="points_left">-->


                <!--<div class="right">-->
                    <!--<span class="heading"><span>You have</span> 560 points <b>(&#x20B9;466)</b> <span>in your account</span></span>-->
                    <!--<div class="rpoints">-->
                        <!--<div class="border">-->
                            <!--<span>Redeem Points</span><input value="560" type="text" />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;<form id="Form1" method="POST"  action="http://app.annectos.net:8084//checkout.aspx" class="credit-card" enctype="multipart/form-data"> &ndash;&gt;-->
                <!--<form id="myform" method="POST"  action="http://app.annectos.net:8084/checkout.aspx" class="credit-card">-->
                    <!--<div class="right">-->
                        <!--<span class="heading">Pay using Points</span>-->
                        <!--<div class="point_body">-->
                            <!--<span class="points_text">You have <span class="points_btn">{{user_point}} points-->
                                <!--<span ng-show="store_type != 'P'">(? {{point_amount}} )</span>  </span> in your account.</span>-->
                            <!--<span class="redem_points">-->

                                <!--<label>Reedem points</label>-->
                                <!--<input type="text" ng-change="redeem_points()" data-ng-model="redeem_point" value="{{redeem_point}}" />-->
                                <!--<br />-->
                                <!--<br />-->

                                <!--<table>-->
                                    <!--<tr>-->
                                        <!--<td colspan="3">-->
                                            <!--<label>Enter Gift Certificates</label>-->
                                            <!--{{msg}}-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-repeat="gv in gv_list">-->
                                        <!--<td>-->
                                            <!--<input data-ng-model="gv.gift_certificate_code" placeholder="Enter Gift Voucher #{{gv.id}}" /></td>-->
                                        <!--<td style="width: 50px;"><a href="" data-ng-click="validate_gv(gv.gift_certificate_code, $index)">Add </a></td>-->
                                        <!--<td style="width: 50px;">-->
                                            <!--<label  ng-show="store_type != 'P'">? {{gv.amount}}</label>-->
                                            <!--<label  ng-show="store_type == 'P'">{{gv.amount * conv_ratio}} P</label>-->
                                        <!--</td>-->
                                        <!--<td style="width: 50px;"><a href="" data-ng-click="remove_gv($idx)">Remove </a></td>-->
                                    <!--</tr>-->

                                <!--</table>-->

                            <!--</span>-->
                            <!--<br />-->
                            <!--<br />-->
                            <!--<span class="points_text">-->
                                <!--<label>Total Cart Amount:-->
                                    <!--<span class="points_btn" ng-show="store_type != 'P'" >? {{total_cart_amount}} </span>-->
                                    <!--<span class="points_btn" ng-show="store_type == 'P'" >{{total_cart_amount * conv_ratio}} Points </span>-->
                                <!--</label>-->
                            <!--</span>-->
                            <!--<br />-->
                            <!--<span class="points_text">-->
                                <!--<label>Redeemed through points:-->
                                    <!--<span class="points_btn" ng-show="store_type != 'P'">? {{redeem_point_rs}}</span>-->
                                    <!--<span class="points_btn" ng-show="store_type == 'P'"> {{redeem_point_rs * conv_ratio}}</span>-->
                                <!--</label>-->
                            <!--</span>-->
                            <!--<br />-->
                            <!--<span class="points_text">-->
                                <!--<label>-->
                                    <!--Balance:-->
                                    <!--<span ng-show="store_type != 'P'" class="points_btn">? {{balance_amount}} </span>-->
                                    <!--<span ng-show="store_type == 'P'" class="points_btn">? {{balance_amount * conv_ratio}} </span>-->
                                    <!--(to be charged to you)-->
            <!--<input type="submit" value="REDEEM NOW" class="btn_all" />-->
                                <!--</label>-->
                            <!--</span>-->
                            <!--<span class="bottom_text_r">By placing the order, you have read and agree to Annecto?.com Terms of Use and Privacy Policy.-->
                            <!--</span>-->
                        <!--</div>-->

                    <!--</div>-->

                    <!-- Form POST Element for Payment Gateway-->
        <!--<input type="text" id="ChkAmount" ng-model="pp.total_amount" style="display: none" />-->
        <!--<input type="text" name="Amount" ng-model="pp.total_amount" style="display: none" />-->
        <!--<input type="text" name="Order_Id" ng-model="pp.Order_Id" style="display: none">-->
        <!--<input type="text" name="Points" ng-model="pp.Points" style="display: none" />-->
        <!--<input type="text" name="Points_Inr" ng-model="pp.Points_Inr" style="display: none" />-->
        <!--<input type="text" name="Actual_Amount" ng-model="pp.actual_amount" style="display: none" />-->
        <!--<input type="text" name="EGift_VNO" ng-model="pp.EGift_VNO" style="display: none">-->
        <!--<input type="text" name="EGift_Amt" ng-model="pp.EGift_Amt" style="display: none">-->
        <!--<input type="text" name="Redirect_Url" ng-model="pp.Redirect_Url" style="display: none">-->
        <!--<input type="text" name="billing_cust_name" ng-model="pp.billing_cust_name" style="display: none">-->
        <!--<input type="text" name="billing_cust_address" ng-model="pp.billing_cust_address" style="display: none">-->
        <!--<input type="text" name="billing_cust_country" ng-model="pp.billing_cust_country" style="display: none">-->
        <!--<input type="text" name="billing_cust_state" ng-model="pp.billing_cust_state" style="display: none">-->
        <!--<input type="text" name="billing_cust_tel" ng-model="pp.billing_cust_tel" style="display: none">-->
        <!--<input type="text" name="billing_cust_email" ng-model="pp.billing_cust_email" style="display: none">-->
        <!--<input type="text" name="delivery_cust_name" ng-model="pp.name" style="display: none">-->
        <!--<input type="text" name="delivery_cust_address" ng-model="pp.address" style="display: none">-->
        <!--<input type="text" name="delivery_cust_country" ng-model="pp.delivery_cust_country" style="display: none">-->
        <!--<input type="text" name="delivery_cust_state" ng-model="pp.state" style="display: none">-->
        <!--<input type="text" name="delivery_cust_tel" ng-model="pp.mobile_number" style="display: none">-->
        <!--<input type="text" name="delivery_cust_notes" ng-model="pp.delivery_cust_notes" style="display: none">-->
        <!--<input type="text" name="Merchant_Param" ng-model="pp.Merchant_Param" style="display: none">-->
        <!--<input type="text" name="billing_cust_city" ng-model="pp.billing_cust_city" style="display: none">-->
        <!--<input type="text" name="billing_zip_code" ng-model="pp.billing_zip_code" style="display: none">-->
        <!--<input type="text" name="delivery_cust_city" ng-model="pp.delivery_cust_city" style="display: none">-->
        <!--<input type="text" name="delivery_zip_code" ng-model="pp.delivery_zip_code" style="display: none">-->
        <!--&lt;!&ndash; End Of Form Post Elements &ndash;&gt;-->
        <!--</form>-->
            <!--</div>-->


            <!--</div>-->
        <!--</div>-->
        <!-- end: points -->
        <!-- End: content -->

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myform').submit(function () {
            var a = $('#ChkAmount').val();
            if (a <= 0) {
                alert('Point Purchase is in-progress');
                return false;
            }
            else
            {
                return true;
            }
        });
    });
</script>
