<div class="activation view">
    <div class="container">
        <header>
            <br/><br/>
            <h3> Account Activation</h3>
        </header>
        <div class="container-fluid"  ng-init="activateRegistration()">
            <div class="row">
                <input type="hidden" id="Hidden1" name='aHiddenField' ng-model="registration_active.email_id" />
                <input type="hidden" id="Hidden2" name='aHiddenField' ng-model="registration_active.guid" />
                <div class="span8">
                    <div class="control-group">

                        <label class="control-label">{{message}}</label>

                    </div>

                    <div class="control-group ">
                    </div>



                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                           <!-- <input type="button" class="btn btn-success" ng-click="Login()" value="Click To Login" /> -->
                        </div>
                    </div>
                    <!-- -->



                </div>
            </div>
        </div>
    </div>
</div>






