<div class="acct_points view">
<div class="container">
<!-- Start: my account -->
<div class="container my-account">
<span class="title">My Account</span>
<span class="left">
<span class="left_bg">
	<ul>
        <!--<li><a href="#/my_profile">My Profile</a></li>-->
        <li class="my-active"><a href="#/acct_points">My Points</a></li>
        <!--<li><a href="#/achievement">My Achievement</a></li>-->
        <li ><a href="#/myorder">My Redemption</a></li>
        <!--<li><a href="#">My Wishlist</a></li>-->
        <!--<li><a href="#">My Product Reviews</a></li>-->
        <!--<li><a href="#">Newsletters</a></li>-->
    </ul>
	</span>
	<!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
</span>
<div class="right">
<span class="heading">My Points</span>
<div class="point_body">
    <span class="point_summery_headimg">Points Summary</span>
    <span class="points">You have<span class="points_btn">{{user_point}} points</span>in your account.</span>
    <!--<span class="points-recomanded"><span class="big_font">1500 points</span> have been redeemed</span>-->
    <!--<span class="points-recomanded" style="margin-top:5px;"><span class="big_font">500 points</span> are pending approval</span>-->
    <div class="details_points_bg">
	<span class="details_points_text">details of Points earned
	<!--<span class="next_prev_bg">-->
	<!--1 of 6 -->
	<!--<ul class="pagination">-->
        <!--<li><a href="#" class="prev"></a></li>-->
        <!--<li><a href="#" class="next"></a></li>-->
    <!--</ul>-->
	<!--</span>-->
	</span>
        <div class="details_points_table">
            <table>
                <thead>
                <tr>
                    <th width="100">Date<span class="date_arrow"></span></th>
                    <th width="100">Points Earned</th>
                    <th width="270">Details</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr  data-ng-repeat="pc in points_credit">
                    <td>{{pc.txn_ts | date}}</td>
                    <td>{{pc.txn_amount}}</td>
                    <td>{{pc.txn_comment}}</td>
                    <!--<td>Pending Approval</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="details_points_bg">
	<span class="details_points_text">details of Points redeemed
	<!--<span class="next_prev_bg">-->
	<!--1 of 6 -->
	<!--<ul class="pagination">-->
        <!--<li><a href="#" class="prev"></a></li>-->
        <!--<li><a href="#" class="next"></a></li>-->
    <!--</ul>-->
	<!--</span>-->
	</span>
        <div class="details_points_table details_points_table1">
            <table>
                <thead>
                <tr>
                    <th width="100">Date<span class="date_arrow"></span></th>
                    <th width="100">Points Earned</th>
                    <th width="270">Details</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  data-ng-repeat="pc in points_debit">
                    <td>{{pc.txn_ts | date}}</td>
                    <td>{{pc.txn_amount}}</td>
                    <td>{{pc.txn_comment}}</td>
                    <!--<td>Pending Approval</td>-->
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!--start Redeem Your Points-->

    <!--<div class="recently-viewd">-->
        <!--<span class="title">Redeem Your Points</span>-->
        <!--<ul class="pagination">-->
            <!--<li class="prev"></li>-->
            <!--<li class="next"></li>-->
        <!--</ul>-->
        <!--<ul class="recentview">-->
            <!--<li>-->
                <!--<div class="image_container"><img src="Content/custom_images/TopSellersSection/tab_product2.jpg" /></div>-->
                <!--<span class="recenttitle">Rooptex Kurtis</span>-->
                <!--<ul>-->
                    <!--<li>MRP: <span class="mrp">&#x20B9;499</span></li>-->
                    <!--<li>33% off</li>-->
                <!--</ul>-->
                <!--<ul class="offer">-->
                    <!--<li>Offer: &#x20B9;349</li>-->
                    <!--<li>Points: 349</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="image_container"><img src="Content/custom_images/TopSellersSection/tab_product3.jpg" /></div>-->
                <!--<span class="recenttitle">Grass T-shirt</span>-->
                <!--<ul>-->
                    <!--<li>MRP: <span class="mrp">&#x20B9;599</span></li>-->
                    <!--<li>33% off</li>-->
                <!--</ul>-->
                <!--<ul class="offer">-->
                    <!--<li>Offer: &#x20B9;349</li>-->
                    <!--<li>Points: 349</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="image_container"><img src="Content/custom_images/TopSellersSection/tab_product4.jpg" /></div>-->
                <!--<span class="recenttitle">Grass T-shirt</span>-->
                <!--<ul>-->
                    <!--<li>MRP: <span class="mrp">&#x20B9;599</span></li>-->
                    <!--<li>33% off</li>-->
                <!--</ul>-->
                <!--<ul class="offer">-->
                    <!--<li>Offer: &#x20B9;349</li>-->
                    <!--<li>Points: 349</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="image_container"><img src="Content/custom_images/TopSellersSection/tab_product5.jpg" /></div>-->
                <!--<span class="recenttitle">Reebok Sweat Shirt</span>-->
                <!--<ul>-->
                    <!--<li>MRP: <span class="mrp">&#x20B9;1499</span></li>-->
                    <!--<li>50% off</li>-->
                <!--</ul>-->
                <!--<ul class="offer">-->
                    <!--<li>Offer: &#x20B9;750</li>-->
                    <!--<li>Points: 750</li>-->
                <!--</ul>-->
            <!--</li>-->

        <!--</ul>-->
    <!--</div>-->
    <!-- end Redeem Your Points-->


</div>

</div>
</div>
<!-- end: my account -->
</div>
</div>
