<div class="cart_page view" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <header>
            <h3>&nbsp</h3>
        </header>
        <div class="container-fluid" >
            <!--<div class="row" >-->
                <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->

        <!--</div>-->
            <div class="container span8" style="background-color: #f5f5f5" >
                <div class="row" >
                    <div class="span8 cart_head" >

                        Cart Total: <del>&#2352;</del> {{total_amount_final_offer}} / {{total_point}} Points ( {{total_discount}} % off on <del>&#2352;</del> {{total_amount_mrp}})
                      
                          <a class="btn btn-primary pull-right" href="#/checkout"  title="Click to checkout" ng-click="add_cart()" >  Checkout
                            <span ng-include src="template.url"  />
                          </a>
                        
                        
                       <!--   <button type="button" class="btn btn-primary pull-right" href="#/checkout" ng-click="add_cart()" >
                            Checkout
                        </button>-->

                       
                    </div>
                    <!--<div class="span8">-->
                        <!--<hr/>-->
                    <!--</div>-->

                </div>
                <div class="row">
                <div class="span8" data-ng-repeat="cartItem in cart" >
                        <div class="span1">
                            <img class="img_cart" src="{{cartItem.image}}" />
                        </div>
                        <div class="span3 product_name">
                            <a href="#/prod/{{cartItem.id}}" >{{cartItem.name}} </a>
                            - {{cartItem.brand}}
                            <br/>
                            <del>&#2352;</del> ({{cartItem.mrp}})
                        </div>
                        <div class="span1">
                            <del>&#2352;</del> {{cartItem.final_offer}}
                        </div>
                        <div class="span2">
                            <input type="text" class="cart_quantity" data-ng-model="cartItem.quantity" />
                            <image class="cart_button" src="Content/custom_images/ok.jpg"  ng-click="update_cart(cartItem.id, cartItem.quantity)"></image>
                            <image class="cart_button" src="Content/custom_images/delete.jpg" ng-click="delete_from_cart(cartItem.id)"></image>

                        </div>

                            <hr/>

                    </div>
                <div class="span3"></div>
                </div>
            </div>

            <div class="container span3" >
            </div>
        </div>
    </div>
</div>
