﻿<div class="checkout view">
    <div class="container" >
        <header>
            <h3>Shipping Info</h3>
        </header>
        <div class="container">
        <div class ="row">
            <div class="span12">
            Please enter new shipping info or select from existing
                <select>
                    <option>Address 1</option>
                    <option>Address 2</option>
                    <option>Create New</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span5">

                    <input type="hidden" id="hdncart_id" ng-model="checkout.cart_id" />
                    <input  class="span5" type="text" placeholder="Name"  id="name" name="name" ng-model="checkout.name" />

            </div>
            <div class="span3">
                <input type="text" placeholder="Enter Mobile No" class="input-xlarge" id="mobileno" ng-model="checkout.mobile_number" />
            </div>

            <div class="span5">
                <textarea class="span5" style="height: 140px" placeholder="Address"  id="address" name="address" ng-model="checkout.address" />
            </div>
            <div class="span3">
                <input type="text" placeholder="Landmark" class="input-xlarge" id="landmark" name="landmark" ng-model="checkout.landmark" />
            </div>
            <div class="span3">
                <input type="text" placeholder="City" class="input-xlarge" id="city" name="city" ng-model="checkout.city" />
            </div>
            <div class="span3">
                <input type="text" placeholder="State" class="input-xlarge" id="state" name="state" ng-model="checkout.state" />
            </div>

            <div class="span3">

                    <input type="text" placeholder="Enter Pincode" class="input-xlarge" id="pincode" name="pincode" ng-model="checkout.pincode" />
            </div>




            <!--<div class="span3">-->
                    <!--<input type="text" placeholder="Country" class="input-xlarge" id="country" name="country" ng-model="checkout.country" />-->
            <!--</div>-->


            <div class="span10">
                <div class="container">

                    <a class="btn btn-success" href="#/order" title="Click to checkout" ng-click="addShippingInfo()">Save & Continue
                            <span ng-include src="template.url" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
