<div class="contact_us ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br/>
        <!-- Start: contact us -->
        <div class="container contact_us">
            <span class="title">Contact Us</span>
            <div class="contact_form">
            <span class="contactinformation">Please enter your contact information.</span>
                <span class="field_block">
                <label>Name * <span class="require"><span class="star">*</span>Required Fields</span></label>
                <input type="text" value="" ng-model = "Contact.Name" class="input_field"/>
                </span>
                <span class="field_block">
                <label>Email *</label>
                <input type="text" value="" ng-model = "Contact.Email" class="input_field"/>
                </span>
                <span class="field_block">
                <label>Telephone *</label>
                <input type="text" value="" ng-model="Contact.Telephone" class="input_field"/>
                </span>
                <span class="field_block">
                <label>Comment *</label>
                <textarea name="textarea" ng-model = "Contact.Comment" class="textarea_field"></textarea>
                </span>
                <span class="field_block">
                <input type="button"  value="Submit" class="contact_btn" ng-click="SaveContact()";/>
                </span>
        </div>
            </div>
        <!-- end: contact us -->

    </div>
</div>