﻿<div class="customers view">
    <div class="container">
        <header>
            <!--<h3>Landing</h3>-->
        </header>
        <div class="row brand">
            <div class="span12" ng-controller="adController" style="text-align: center">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                            <a href="{{slide.href}}">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                        </a>

                    </slide>
                </carousel>

            </div>

            <!--<div ng-controller="adController">-->
                <!--<carousel interval="myInterval">-->
                    <!--<slide ng-repeat="slide in slides" active="slide.active">-->
                        <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
                        <!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h4>Slide {{$index}}</h4>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>{{slide.text}}</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</slide>-->
                <!--</carousel>-->

            <!--</div>-->
        <!--</div>-->
        <!--<br /><br />-->

    </div>
</div>
    </div>