<div class="landing view">
    <div class="container">
        <header>
            <!--<h3>Landing</h3>-->
        </header>
        <div class="row brand">
            <div class="span12" ng-controller="adController" >
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <a href="{{slide.href}}">
                            <img ng-src="{{slide.image}}" style="width: 1500px">
                        </a>

                    </slide>
                </carousel>

            </div>
            <!--<div ng-include src="'partials/'+{{obj}}+'.html'"></div>-->
            <div ng-controller="adController" ng-include src="template.url" ></div>

        </div>
    </div>
</div>