<div class="myorder view">
    <div class="container">
        <!-- Start: my account -->
        <div class="container my-account">
            <span class="title">My Account</span>
            <span class="left">
                <span class="left_bg">
                    <ul>
                        <!--<li><a href="#/my_profile">My Profile</a></li>-->
                        <li><a href="#/acct_points">My Points</a></li>
                        <!--<li><a href="#/achievement">My Achievement</a></li>-->
                        <li class="my-active"><a href="#/myorder">My Redemption</a></li>
                        <!--<li><a href="#">My Wishlist</a></li>-->
                        <!--<li><a href="#">My Product Reviews</a></li>-->
                        <!--<li><a href="#">Newsletters</a></li>-->
                    </ul>
                </span>
                <!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
            </span>
            <div class="right">
                <span class="heading">My Orders</span>
                <div class="point_body">
                    <!--<span class="point_summery_headimg">Order Summary</span>-->
                  
                    <div class="details_points_bg">
                       
                        <div class="details_points_table">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="100">Order ID<span class="date_arrow"></span></th>
                                        <th width="100">Date</th>
                                        <th width="100">Total Amount</th>
                                        <th width="100">Paid Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="mo in my_orders"> 
                                        <td>{{mo.order_id}}</td>
                                        <td>{{mo.create_ts| date}}</td>
                                        <td>{{mo.total_amount}}</td>
                                        <td>{{mo.paid_amount}}</td>
                                        <td>{{mo.payment_info}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    

                  


                </div>

            </div>
        </div>
        <!-- end: my account -->
    </div>
</div>
