﻿<div class="Payment view">
    <div class="container">
        <header>
            <h3>Payment Info</h3>
        </header>
        <div class="container">
            <div class="row">
                <div class="span12">
                    Your payment in progress.....
                </div>
            </div>

        </div>
    </div>
</div>
