<div class="return_policy ">

    <div class="container content_page">
        <br/><br/><br/><br/><br/>
        <span class="cantent_page_title">Returns Policy</span>
<span class="cms_content">
<p>	We take utmost care to ensure that the items shipped to you are in perfect condition and we will accept a return if the item shipped to you is defective or damaged and our customer support will organize to get it replaced at the earliest at our cost.  </p>
<p>annectoś will bear the cost of all return/s exchange/s only for those orders that have been shipped wrongly or where the product shipped is of the wrong size. Or if the product is damaged on receipt at the customer end.</p>
<p>For all other product exchanges or if the customer chooses to select another product, the customer will need to:</p>

	<ul>
        <li>Bear the cost of courier both ways [to Annectos premises and back to customer address].</li>
        <li>Bear the cost of any differential amount if the offer has ended or if any new merchandise is being shipped.</li>
        <li>All requests for return or exchange need to be made within seven working days of order placement.</li>
        <li>The merchandise should be returned to us in the original condition  with no apparent damage or evidence of use visible.</li>

    </ul>
	<h1>Cancellation policy:</h1>
	<p>You can cancel your order anytime before your order starts shipping and it would not be possible to cancel the order once the item has been shipped.
        If you wish to cancel an order before it is shipped, there will be no cancellation fees. </p>
</span>
    </div>
</div>