﻿<div class="terms ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br/>

        <span class="cantent_page_title">Terms Of Use</span>
<span class="cms_content">
<p>You confirm that you are at least 18 years old. If you are below 18 years of age, then you confirm that you are visiting the Site under the supervision of a parent or a guardian.</p>
<h1>Acceptance of Terms and Conditions</h1>
<p>This Terms and Condition for Use / Service You confirm that you are at least 18 years old. If you are below 18 years of age, then you confirm that you are visiting the Site under the supervision of a parent or a guardian.  </p>
<h1>Acceptance of Terms and Conditions</h1>
<p>This Terms and Condition for Use / Service of annectoś Rewards and Retail Pvt. Ltd. , is a legal agreement between you and annectoś Rewards and Retail Pvt. Ltd. software and services Private Limited, (hereinafter referred to as ‘ annectoś Rewards and Retail Pvt. Ltd.’ , 'our', 'us', 'we') providing, among other things, the terms and conditions for your use of annectoś Rewards and Retail Pvt. Ltd.’s online services through the website located at annectoś Rewards and Retail Pvt. Ltd.. (the 'Website') This Agreement shall be applicable to the Users of annectoś Rewards and Retail Pvt. Ltd.’s Services through other channels such as mobile and offline engagements. (Referred in totality as “Services") Read this Agreement containing the Terms and Conditions carefully. Your use of services of annectoś Rewards and Retail Pvt. Ltd. means you are consenting to these Terms and Conditions along with all rules, policies and practices of annectoś Rewards and Retail Pvt. Ltd.. Therefore, PLEASE READ THIS AGREEMENT CAREFULLY BEFORE PROCEEDING. The compilation of all content on this site is the exclusive property of annectoś Rewards and Retail Pvt. Ltd. and is protected by India and international copyright laws. All software used on this site is the property of annectoś Rewards and Retail Pvt. Ltd. and protected by and international copyright laws. Trademarks of annectoś Rewards and Retail Pvt. Ltd. may not be used in connection with any product or service that is not associated with annectoś Rewards and Retail Pvt. Ltd., in any manner that is likely to cause confusion among customers or in any manner that disparages or discredits annectoś Rewards and Retail Pvt. Ltd..</p>
<h1>License and Site Access</h1>
<p>Subject to the terms and conditions of this Agreement, annectoś Rewards and Retail Pvt. Ltd. grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of annectoś Rewards and Retail Pvt. Ltd. . This license does not include any resale or commercial use of this site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this site or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of annectoś Rewards and Retail Pvt. Ltd.. Any breach of this Agreement shall result in the immediate revocation of the license granted in this paragraph without notice to you. annectoś Rewards and Retail Pvt. Ltd. reserves the right to refuse service, terminate accounts, and/or cancel orders in its discretion, including, without limitation. You shall not upload to, distribute, or otherwise publish through this Site any Content, information, or other material that</p>
<ul style="list-style-type: none">
    <li>(a) violates or infringes the copyrights, patents, trademarks, service marks, trade secrets, or other proprietary rights of any person;</li>
    <li>(b) is libellous, threatening, defamatory, obscene, indecent, pornographic, or could give rise to any civil or criminal liability under U.S. or
        international law; or</li>
    <li> includes any bugs, viruses, worms, trap doors, Trojan horses or other harmful code or properties.</li>
</ul>


	<h1>Account</h1>
	<p> If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. annectoś Rewards and Retail Pvt. Ltd. and its affiliates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion. </p>

	<h1>Reviews & Comments, Communications</h1>
	<p> Visitors may post reviews, comments, and other content; send communications and submit suggestions, ideas, comments, questions, or other information, as long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may not use a false e-mail address, mobile phone number, impersonate any person or entity, or otherwise mislead as to the origin of content. annectoś Rewards and Retail Pvt. Ltd. reserves the right to remove or edit such content. If you do post content or submit material, and unless we indicate otherwise, you grant annectoś Rewards and Retail Pvt. Ltd. and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. annectoś Rewards and Retail Pvt. Ltd. has the right but not the obligation to monitor and edit or remove any activity or content. annectoś Rewards and Retail Pvt. Ltd. takes no responsibility and assumes no liability for any content posted by you or any third party.
    </p>

	<h1>Risk of Loss</h1>
	<p>The risk of loss and title for items purchased by you pass to you upon our delivery of the items to the carrier subject to our standard terms of sale.</p>

	<h1>Product Descriptions</h1>
	<p>annectoś Rewards and Retail Pvt. Ltd. does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free. We try our best to provide an accurate description at all times. With respect to items sold by annectoś Rewards and Retail Pvt. Ltd. , we do NOT charge your credit card until after your order has entered the shipping process. </p>
	<p>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY THIS SITE IS PROVIDED BY annectoś Rewards and Retail Pvt. Ltd. ON AN "AS IS" AND "AS AVAILABLE" BASIS. annectoś Rewards and Retail Pvt. Ltd. MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, annectoś Rewards and Retail Pvt. Ltd. DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. annectoś Rewards and Retail Pvt. Ltd. DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM annectoś Rewards and Retail Pvt. Ltd. ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. annectoś Rewards and Retail Pvt. Ltd. WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS. APPLICABLE LAW By visiting annectoś Rewards and Retail Pvt. Ltd. you agree that the laws of India, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and annectoś Rewards and Retail Pvt. Ltd..</p>
	<h1>Disputes</h1>
	<p>Any dispute relating in any way to your visit to annectoś Rewards and Retail Pvt. Ltd. or to products you purchase through annectoś Rewards and Retail Pvt. Ltd. shall be submitted to confidential arbitration in Bangalore, Karnataka, India. Arbitration under this agreement shall be conducted under the rules then prevailing of India. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.</p>
	<h1>Site Policies, Modification, and Severability</h1>
	<p>We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.  This document is a legal agreement between you and annectoś Rewards and Retail Pvt. Ltd. software and services Private Limited, (hereinafter referred to as ‘ annectoś Rewards and Retail Pvt. Ltd.’ , 'our', 'us', 'we') providing, among other things, the terms and conditions for your use of annectoś Rewards and Retail Pvt. Ltd.’s online services through the website located atwww.annectoś Rewards and Retail Pvt. Ltd..in (the 'Website') This Agreement shall be applicable to the Users of annectoś Rewards and Retail Pvt. Ltd.’s Services through other channels such as mobile and offline engagements. (Referred in totality as “Services") Read this Agreement containing the Terms and Conditions carefully. Your use of services of annectoś Rewards and Retail Pvt. Ltd. means you are consenting to these Terms and Conditions along with all rules, policies and practices of annectoś Rewards and Retail Pvt. Ltd.. Therefore, PLEASE READ THIS AGREEMENT CAREFULLY BEFORE PROCEEDING. The compilation of all content on this site is the exclusive property of annectoś Rewards and Retail Pvt. Ltd. and is protected by India and international copyright laws. All software used on this site is the property of annectoś Rewards and Retail Pvt. Ltd. and protected by and international copyright laws. Trademarks of annectoś Rewards and Retail Pvt. Ltd., may not be used in connection with any product or service that is not associated with annectoś Rewards and Retail Pvt. Ltd. , in any manner that is likely to cause confusion among customers or in any manner that disparages or discredits annectoś Rewards and Retail Pvt. Ltd.</p>
	<h1>The logos used on this portal belong to the specific owners.</h1>
<br/>
	<h1>BO Clause</h1>
	<p>"We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time</p>
</span>
    </div>


    </div>
</div>

