<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="B2UfvcjKBzedx30aQJVUkFm9p1ll4vyHb9hWcHGcXDo" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--Deleting grunt build instruction for vendor.css-->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/theme.css">
    <!-- endbuild -->
</head>
<body ng-app="chandler.schneider" ng-controller="PageCtrl">
<title>{{title}}</title>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    <header>
        <div class="logoSection">
            <div class="logoSectionLeft">
                <img class="pull-left" src="images/logoleft.png" />
            </div>
            <div class="logoSectionRight">
                <img class="pull-right" src="images/logo.png" />
            </div>
        </div>

    </header>
    <nav class="mainnav">

        <ul>
            <li ng-repeat="m in menu_data">
                <div ng-if="default_menu == m.state">
                    <a class="active" href={{m.link}}>{{m.display_name}}</a>
                </div>
                <div ng-if="default_menu != m.state">
                    <div ng-if="m.display_name!='Reward Gallery'">
                        <a  href={{m.link}}>{{m.display_name}}</a>
                    </div>
                    <div ng-if="m.display_name=='Reward Gallery'">
                        <a  href={{m.link}} title="{{points}} Points">{{m.display_name}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

</div>

<!-- Add your site or application content here -->
<div ui-view></div>

<div class="container">
    <footer>
        <label style="float: left;margin-top: 8px;" >Version: 1.1.2</label>
        <a href="#"><img src="images/annectoslogo.png" /></a>
    </footer>
</div>

<!-- ***************************************************  -->
<!--This is customized to use ui-router instead of ng-view-->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52120490-1',  'seep-digilink.in');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="lib/angular-file-upload-shim.min.js"></script>

<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!--<script src="bower_components/jquery/jquery.js"></script>-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->



<!-- endbower -->
<!-- endbuild -->

<!--Scripts which doesn't need to be minified-->

<!--<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>

<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>


<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/angular-charts/dist/angular-charts.min.js"></script>




<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<!--<script src="scripts/datepicker/bootstrap-datepicker.js"></script>-->

<script src="lib/angular-file-upload.min.js"></script>
<script src="lib/angular-local-storage.min.js"></script>
<script src="lib/aes.js"></script>
<script src="lib/toggle.js"></script>



<script src="branding/config.js"></script>
<script src="branding/menu.js"></script>
<script src="branding/ad.js"></script>
<!-- **************************************** -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login_base.js"></script>
<script src="scripts/controllers/login_login.js"></script>
<script src="scripts/controllers/forget_password.js"></script>
<script src="scripts/controllers/registration.js"></script>
<script src="scripts/controllers/program.js"></script>
<script src="scripts/controllers/change_password.js"></script>
<script src="scripts/controllers/main_base.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/program_details.js"></script>
<script src="scripts/controllers/myclaim.js"></script>
<script src="scripts/services/util_service.js"></script>

<script src="scripts/services/notification_service.js"></script>
<script src="scripts/controllers/page.js"></script>

<script src="scripts/controllers/seep.js"></script>
<script src="scripts/controllers/dash.js"></script>
<script src="scripts/controllers/claim.js"></script>
<script src="scripts/controllers/contact.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/services/menu.js"></script>
<script src="scripts/services/claim_service.js"></script>
<script src="scripts/services/master_service.js"></script>

<script src="scripts/services/state_managerService.js"></script>
<script src="scripts/controllers/redemption_more.js"></script>
<script src="scripts/controllers/redemption.js"></script>
<script src="scripts/controllers/slider.js"></script>
<script src="scripts/controllers/special.js"></script>
<script src="scripts/services/crypto_service.js"></script>

<!-- endbuild -->
</body>
</html>
