﻿/*Only style customized for home.html and different from ecomm.css*/
body {
    padding: 0px;
}

.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}

.card {
    background-color:#efefef;
    border: 1px solid black;
    height:75px;
    width: 225px;
    margin-bottom: 20px;
}

.cardHeader {
    background-color: #006dcc;
    font-size:14pt;
    color:white;
    padding:5px;
}

.cardClose {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.cardContainer {
    width:90%;
}

.cardBody {
    padding-left: 5px;
}

.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left:20px;
}

.ordersTable {
    width:800px;
    margin-left:20px;
}

.orders th, .customerOrders th {
    width:25%;
    cursor: pointer;
}

.ordersTable tr:first-child th {
    background-color: #006dcc;
    color: #fff;
    font-weight: bold;
}


#submitCustomer {
    margin-left:50px;
    margin-top: -8px;
}
.footerimg {max-width:100%;width:auto\9;height:auto;margin-top: -100px;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}

}

footer {

    margin-top:10px;
    font-size: 10px;
    color: #666666
   
}


/* Bootstrap overrides */
.navbar-inner-ecomm {
    background-color: white;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.navbar .nav {
    margin-left:50px;
    margin-top:15px;
}

.close {
    opacity: 1.0;
}

.navbar .top-icon {
    display: block;
    float: right;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

.menu {
    /*position: absolute;*/
    background-color: white;
    padding: 1px;
    width: 100%;
    height: 25px;
    z-index: 10;
}

.product {
    height: 150px;
    border:0px solid;
    border-radius:5px;

}

.thumbImage{
    height: 60px;
}
.img{
    height: 100px;
}
.productImage{
    /*height: 340px;*/
    border: 1px;
    border-color: blue;
    /*cursor: crosshair;*/
    cursor:url("custom_images/smiley.gif"),auto;
    text-align: center;
    /*width: 100px;*/
}
.logo{
    /*background-image: '';*/
}
.sidebar{
    background-color: lightyellow;
    /*background-color: yellowgreen;*/
    height: 440px;
    padding: 5px;
    /*width:400px;*/
    -webkit-border-radius: 1px;-moz-border-radius: 1px;
    border-radius: 5px;border:1px solid  #D3C3EB;
    /*background-color:  #FFFDFC;*/
    -webkit-box-shadow: #A0B342 5px 5px 5px;
    -moz-box-shadow: #A0B342 5px 5px 5px;
    box-shadow: #A0B342 5px 5px 5px;
}

.ad{
    background-color: greenyellow;
    /*background-color: yellowgreen;*/
    height: 100px;
    padding: 5px;
    /*width:400px;*/
    -webkit-border-radius: 1px;-moz-border-radius: 1px;
    border-radius: 5px;border:1px solid  #D3C3EB;
    /*background-color:  #FFFDFC;*/
    -webkit-box-shadow: #A0B342 5px 5px 5px;
    -moz-box-shadow: #A0B342 5px 5px 5px;
    box-shadow: #A0B342 5px 5px 5px;
}

.productDetails{
    background-color: #fafafa;
    /*background-color: yellowgreen;*/
    height: 450px;
    width: 300px;
    padding: 5px;
    /*width:400px;*/
    -webkit-border-radius: 1px;-moz-border-radius: 1px;
    border-radius: 2px;border:1px solid  #D3C3EB;
    /*background-color:  #FFFDFC;*/
    -webkit-box-shadow: #A0B342 2px 2px 2px;
    -moz-box-shadow: #A0B342 2px 2px 2px;
    box-shadow: #A0B342 2px 2px 2px;
    /*text-align: center;*/
}

.description{
    font-size: smaller;
    width: 100%;
    height: 125px;
    overflow: auto;
}
.scroll{

}
.productName{
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}
.sku{
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: darkgrey;
}

hr {
    color: #f00;
    background-color: #A0B342;

    border:3;
    height: 5px;
    width: 100%;
}
.feature {
    font-size: smaller;
    font-weight: normal;
    height: 100px;
    overflow: auto;
}
.price{
    font-weight: bold;
    font-size: large;
    color: #ff0000;
}
.price-cut{
    font-weight: bold;
    font-size: large;
    text-decoration: line-through;
    color: darkgray;
}

.price-cut-noline{
    font-weight: normal;
    font-size: large;
    color: darkgray;
}
.cart{
    height: 50px;
    cursor: hand;
}
.cart_small{
    height: 30px;
    cursor: hand;
}

.cart_small_image{
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: -10px;
    padding:  0px 10px 15px 10px;
    font-size: 10pt;
    /*background-size: 140% ;*/
    height: 45px;
/*//background-image:url("custom_images/cart.png");*/
    background-image: url(custom_images/Header/Cart.png) ;
    background-repeat: no-repeat;
    background-position: center;


    opacity: 1;

}

.static_ad_image{
    width: 3100px; height:210px;
    text-align: center;
}
.offer_container{
    position: absolute;
    z-index: 100;
    background-color: white;
    opacity: .8;
    top:10px;
    left:30px;
    height: 100px;
    width: 80%;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.offer_scroller{
    position: absolute;
    z-index: 101;
    top:0px;
    left:0px;
    padding: 0px;"
    font-size: small;
    font-weight: bold;
    font-stretch: extra-condensed;
    background-color:#d3d3d3 ;
    color: #000000;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

 }

.banner_space{
    position: absolute;
    z-index: 102;
    top:30px;
    left:0px;
    height: 55px;
    width: 100%;
    padding: 0px;"
}

.banner_menu{
    opacity: 1;
    position: absolute;
    z-index: 102;
    top:85px;
    left:0px;
    height: 25px;
    width: 100%;
    padding: 0px;"
    font-size: small;
    font-weight: bold;
    font-stretch: extra-condensed;
    background-color: #ff0000;
    color: #ffffff;
    -webkit-border-radius: 0px 0px 5px 5px ;
    -moz-border-radius: 0px 0px 5px 5px ;
    border-radius: 0px 0px 5px 5px;

}

.support{
    font-size: x-small;
    font-stretch: extra-condensed;
    font-weight: bold;
}
.carousel-control {
    top:50% !important; 
}
.carousel-indicators {
position: absolute;
top:auto;
bottom: -35px ;
right: 48% !important;
z-index: 5;
margin: 0;
list-style: none;
}
.carousel-indicators li {

background-color: rgba(0, 0, 0, 0.25);

}
    .carousel-indicators li.active {
        background-color: #009a3c;
    }