﻿body {
    padding: 50px;
}
.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}

.card {
    background-color:#efefef;
    border: 1px solid black;
    height:75px;
    width: 225px;
    margin-bottom: 20px;
}

.cardHeader {
    background-color: #006dcc;
    font-size:14pt;
    color:white;
    padding:5px;
}

.cardClose {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.cardContainer {
    width:90%;
}

.cardBody {
    padding-left: 5px;
}

.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left:20px;
}

.ordersTable {
    width:800px;
    margin-left:20px;
}

.orders th, .customerOrders th {
    width:25%;
    cursor: pointer;
}

.ordersTable tr:first-child th {
    background-color: #006dcc;
    color: #fff;
    font-weight: bold;
}


#submitCustomer {
    margin-left:50px;
    margin-top: -8px;
}

footer {
    margin-top:10px;
    font-weight: bold;
}


/* Bootstrap overrides */
.btn{
    background-color: #ff0000;
}
.tooltip {
    background-color: white;
}
.nav {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10;
    margin-right: 10;
    list-style: none;
}

.navbar-inner-ecomm {
    background-color: white;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 10px;
}

.navbar .nav {
    margin-left:10px;
    margin-top:15px;
}

.close {
    opacity: 1.0;
}

.navbar .top-icon {
    display: block;
    float: right;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 10px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

.menu {
    /*position: absolute;*/
    background-color: white;
    padding: 1px;
    width: 100%;
    height: 25px;
    z-index: 10;
}

.product {
    height: 200px;
    border:0px solid;
    border-radius:5px;

}

.product : hover {
    height: 200px;
    border:1px solid ;
    border-color: black;
    border-radius:5px;
    background-color: #808080;

}

.thumbImage{
    height: 60px;
}
.img{
    height: 100px;
}
.img_cart{
    height: 50px;
}
.img : hover {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);

}

.productImage{
    /*height: 340px;*/
    border: 1px !important;
    border-color: blue !important;
    /*background-color: #d3d3d3;*/
    /*cursor: crosshair;*/
    cursor:url("custom_images/smiley.gif"),auto;
    text-align: center;
    z-index: 103;
    /*width: 100px;*/
}
.logo{
    /*background-image: "";*/
}
.sidebar{
    background-color: lightyellow;
    /*background-color: yellowgreen;*/
    /*height: 440px;*/
    padding: 5px;
    /*width:400px;*/
    -webkit-border-radius: 1px;-moz-border-radius: 1px;
    border-radius: 5px;border:1px solid  #D3C3EB;
    /*background-color:  #FFFDFC;*/
    -webkit-box-shadow: #A0B342 5px 5px 5px;
    -moz-box-shadow: #A0B342 5px 5px 5px;
    box-shadow: #A0B342 5px 5px 5px;
}

.ad{
    background-color: greenyellow;
    /*background-color: yellowgreen;*/
    height: 100px;
    padding: 5px;
    /*width:400px;*/
    -webkit-border-radius: 1px;-moz-border-radius: 1px;
    border-radius: 5px;border:1px solid  #D3C3EB;
    /*background-color:  #FFFDFC;*/
    -webkit-box-shadow: #A0B342 5px 5px 5px;
    -moz-box-shadow: #A0B342 5px 5px 5px;
    box-shadow: #A0B342 5px 5px 5px;
}

.productDetails{
    background-color: #fafafa;
    /*background-color: yellowgreen;*/
    height: 450px;
    width: 300px;
    padding: 5px;
    /*width:400px;*/
    -webkit-border-radius: 1px;-moz-border-radius: 1px;
    border-radius: 2px;border:1px solid  #D3C3EB;
    /*background-color:  #FFFDFC;*/
    -webkit-box-shadow: #A0B342 2px 2px 2px;
    -moz-box-shadow: #A0B342 2px 2px 2px;
    box-shadow: #A0B342 2px 2px 2px;
    /*text-align: center;*/
}

.description{
    font-size: smaller;
    width: 100%;
    height: 125px;
    overflow: auto;
}
.scroll{

}
.productName{
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}
.sku{
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: darkgrey;
}

hr {
    color: #f00;
    background-color: #A0B342;

    border:1;
    height: 1px;
    width: 100%;
}
.feature {
    font-size: smaller;
    font-weight: normal;
    height: 100px;
    overflow: auto;
}
.price{
    font-weight: bold;
    font-size: large;
    color: #ff0000;
}
.price-cut{
    font-weight: bold;
    font-size: large;
    text-decoration: line-through;
    color: darkgray;
}

.price-cut-noline{
    font-weight: normal;
    font-size: large;
    color: darkgray;
}
.price_small{
    /*font-family: courier;*/
    font-weight: normal;
    font-size: x-small;
    color: #ff0000;

}
.point_small{
    /*font-family: courier;*/
    font-weight: bold;
    font-size: x-small;
    color: darkgreen;
}

.price-cut_small{
    /*font-family: courier;*/
    font-weight: bold;
    font-size: x-small;
    text-decoration: line-through;
    color: darkgray;
}

.price-cut-noline_small{
    /*font-family: courier;*/
    font-weight: normal;
    font-size: x-small;
    color: darkgray;
}
.cart{
    height: 50px;
    cursor: hand;
}
.cart_small{
    height: 30px;
    cursor: hand;
}
.cart_smaller{
    height: 20px;
    cursor: hand;

}

.cart_small_image{
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    padding:   10px 10px 15px 10px;
    font-size: 10pt;
    /*background-size: 140% ;*/
    height: 45px;
    //background-image:url("custom_images/cart.png");
    background-image: url(custom_images/Header/Cart.png) ;
    background-repeat: no-repeat;
    background-position: center;


    opacity: 1;

}

.offer{
    font-size: small;
    font-weight: normal;
    height: 5px;
    text-align: center;
}

.product_name{
    font-weight: bold !important;
}

a:hover{
    color: #336464;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}

.cart_button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: baseline;
}


.cart_quantity{
    width: 30px;
    height: 20px;
    text-align: right;
}

.cart_head{
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: large;
    font-stretch: condensed;
    color:#b94a48 ;
    background-color: ghostwhite ;
    vertical-align: baseline;
}

.banner_menu{
    opacity: 1;
    position: absolute;
    z-index: 102;
    top:85px;
    left:0px;
    height: 25px;
    width: 100%;
    padding: 0px;"
font-size: small;
    font-weight: bold;
    font-stretch: extra-condensed;
    background-color: #ff0000;
    color: #ffffff;
    -webkit-border-radius: 0px 0px 5px 5px ;
    -moz-border-radius: 0px 0px 5px 5px ;
    border-radius: 0px 0px 5px 5px;

}
.filter_box{
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}
.filter_check_boxes{
    font-size: xx-small;

}