﻿ <article class="banner_offer">
<div class="container">
<div style="width: 100%; text-align: center; ">
	  <div class="row-fluid">
           <ul class="thumbnails">
              <li class="span4">
				<a href="#/cat/1.1.0">
                    <img class="static_ad_image" alt="Click to get 20% off in Watches"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/1.jpg"
                         width="200" /> <!-- mobiles_sony -->
            	</a>
              </li>
              <li class="span4">
                    <a  href="#/cat/2.1.0">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/2.jpg"
                             width="200" /><!-- Men_adidas_shoes banner -->
                    </a>
              </li>
                <li class="span4">
                    <a  href="#/cat/3.1.0">	
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/3.jpg"
                             width="200" /><!-- Sony_headphones banner -->
                    </a>
                </li>
           </ul>
</div>
     <div class="row-fluid">
        <ul class="thumbnails">      
               
    <li class="span4">
	<a  href="#/cat/4.1.0">
		<img alt="" class="static_ad_image"
             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/4.jpg" width="200" /> <!-- Men_puma_shoes banner -->
	</a>
    </li>
                <li class="span4">
                    <a  href="#/cat/5.1.0">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/5.jpg" width="200" /> <!-- kids_crocs banner -->
                    </a>
                </li>
            <li class="span4">
                <a  href="#/cat/6.1.0">
                    <img alt="" class="static_ad_image"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/6.jpg" width="200" /> <!-- kids_crocs banner -->
                </a>
            </li>
        </ul>
</div>
    </div>
     </article>
	 
</body>
</html>

