<div class="payment view">
    <div class="container">
        <header>
            <br />
            <br />
            <h3>Payment</h3>
        </header>
        <div class="container-fluid">
            <div class="row">
                <input type="hidden" id="hdnOrderID" name='hdnOrderID' ng-model="paymentinfostatus.order_id" />
                <input type="hidden" id="hdnStatus" name='hdnStatus' ng-model="paymentinfostatus.status" />
                <span>{{message}}</span>
                <br />
                <br />
                <br />
                <span>
                    <a href="#" class="shopping_back" ng-click="redirectshop()">Continue Shopping</a>
                    <!--  <button ng-click="ResendActCode()" ng-hide="showButton()">Click Here To Send Activation Email</button>-->
                </span>
            </div>
        </div>
    </div>
</div>


