<!DOCTYPE html>
<html  data-ng-app="ECOMM" id="ng-app">
<head>

    <title>Annectos Online Store</title>
    <link rel="icon" type="image/ico" href="Content/custom_images/favicon.ico" />

    <!--<link href="Content/bootstrap.css" rel="stylesheet" />-->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/ecomm_home.css" rel="stylesheet" />
    <!--<link href="Content/jquery.jscrollpane.lozenge.css" rel="stylesheet" />-->
    <!--<link href="Content/ng-grid.min.css" rel="stylesheet" />-->
    <link href="Content/styles.css" rel="stylesheet" />
    <base href="index.html">
	<link href="Content/theme.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="Scripts/json3.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Note that AngularJS 1.1.4 now has a built-in ng-animation direction. Left in animated-view to show a
 custom directive -->
<!--<div animated-view></div>-->
<!--<div style="position: absolute; z-index: 100; background-color: white; opacity: .8; top:10px;left:30px; height: 80px;-->
<!--width: 80%; padding: 0px;">-->
<!-- Start: HEADER -->

<header>

<!-- Start: HEADER TOP PART-->
<div class="top_part container" >



<div class="shadowbox ui-corner-all" >
<div class="topsec ui-corner-top" data-ng-controller="loginController">
    <!--<a class="login" href="" data-ng-click="openRegistration()">{{signout_text}}</a> | <a href="" data-ng-click="openLogin()" class="login">{{signin_text}}</a>-->
    <!--<a class="login" href="" data-ng-click="openLogin()">{{signout_text}}</a>-->  <a href=""  class="login">{{signin_text}}</a>
    <!--<div class="marq">
        <marquee>
            <img src="Content/custom_images/Header/topMarqImg1.png" />
            <img src="Content/custom_images/Header/topMarqreebok.png" />
            <img src="Content/custom_images/Header/topMarqnike.png" />
            <img src="Content/custom_images/Header/topMarqadidas.png" />
        </marquee>
    </div>-->
</div>
<div class="middlesec">
    <a href="/">
                        <span class="left_logo">
                            <img src="Content/customer_images/logo.png" /></span>
    </a>
    <!--<a href="#">
                        <span class="left_logo eselect">
                            <img src="Content/customer_images/eselect.png" /></span>
    </a>-->

    <div class="searchsec" data-ng-controller="bannerController">
        <div class="top_text">Customer Service  +91 9686202046 / 9972334590 (9:30am to 6:30pm, Mon-Fri)  </div>
        <div class="leftinput">
            <input type="text" data-ng-model="srch" placeholder="Search for items" />
        </div>
        <div class="catlist">
            <div class="selected">{{search_menu_item}}</div>
            <ul>
                <li data-ng-repeat="menu_item in level1_menu_items" data-ng-click="select_search
                                                    (menu_item.link, menu_item.name)">
                    {{menu_item.name}}
                </li>
                <li data-ng-click='select_search(0, "All Categories")'>in All Categories</li>
                <!--<li>Kids</li>-->
                <!--<li>Mobile and Tablets</li>-->
                <!--<li>Home and Kitchen</li>-->
                <!--<li>Electronics and Computers</li>-->
                <!--<li>New Arrivals</li>-->
                         <!--<li>Sale</li>-->
                <!--<li>Premium</li>-->
                <!--<li>Express</li>-->

            </ul>
        </div>
        <input value="" type="submit" data-ng-click="openSearch()" />
    </div>

    <div class="rightlink" data-ng-controller="cartController">
        <ul>
            <li>
                <span class="bordercover"></span>
                <a href="http://demoqa.annectos.net/#/main/home">
                    <span class="count">{{}}</span>
                                        <span class="imgholder">
                                            <img src="Content/custom_images/Header/home.png" />
                                        </span>
                    <span class="labltext">Home</span></a>
            </li>
            <li>
                <span class="bordercover"></span>
                <a href="#/acct_points">
                    <span class="count">{{user_points}}</span>
                                        <span class="imgholder">
                                            <img src="Content/custom_images/Header/points.png" />
                                        </span>
                    <span class="labltext">Points</span></a></li>
            <!--li >
                <span class="bordercover"></span>
                <a href="#">
                    <span class="count">13</span>
                                        <span class="imgholder">
                                            <img src="Content/custom_images/Header/Wishlist.png" /></span>
                    <span class="labltext">Wishlist</span></a></li-->
            <li >
                <span class="bordercover"></span>
                <a href="#"><span class="count">{{cart_size}}</span>
                                        <span class="imgholder">
                                            <img src="Content/custom_images/Header/Cart.png" />
                                        </span>
                    <span class="labltext">Cart</span></a>
                <ul class="innercontainer">
                    <li class="prooductlist">
                        <div class="prooductlistscroll">
                            <div class="product" data-ng-repeat="cart_item in cart">
                                <div class="prod_thumb">
                                    <!--<img src="content/custom_images/Header/cart_product.png" />-->
                                    <img src="{{cart_item.image.thumb_link}}" />
                                </div>
                                <div class="proddetails">
                                    <div class="prodname">{{cart_item.name}}</div>
                                    <div class="prodcode">Product Code: {{cart_item.sku}}</div>
                                    <div class="size">
                                        Qty:
                                        <input type="text" style="width: 20px" ng-change="changeQty($event)" data-ng-model="cart_item.quantity" value="{{cart_item.quantity}}" />
                                                            <span class="sort_bg">
                                                                <span class="sort_text">Size: </span>
                                                                <span class="sort">
                                                                    <!--<span class="sort_val">{{cart_item.selected_size}}</span>-->
                                                                    <select style="width: 100px;"
                                                                            data-ng-options="c.size as c.size for c in cart_item.sizes"
                                                                            data-ng-model="cart_item.selected_size"
                                                                            ng-show="cart_item.sizes != null"
                                                                            ng-change="update_cart_item_size()">
                                                                        <!--<option data-ng-repeat="size in cart_item.sizes" value="{{size.size}}">{{size.size}}</option>-->
                                                                    </select>
                                                                     <!--ng-options="state.text as state.text for state in state_list"-->
                                                                </span>
                                                            </span>
                                    </div>
                                    <div class="controll">
                                        <!--<a class="edit">edit</a><a class="wish">edit</a>-->
                                        <a class="delete" data-ng-click="delete_from_cart(cart_item.id)">edit</a>

                                        <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />
                                    </div>
                                </div>
                                <div class="off">
                                    <!--<span ng-show="store_type != 'P'">({{cart_item.discount}}% Off)</span>-->
                                                        <span class="offrate" >
                                                            <span class="rupee" ng-show="store_type != 'P'">{{cart_item.final_offer  * cart_item.quantity}}</span>
                                                            <span class="rupee" ng-show="store_type == 'P'">{{cart_item.final_offer  * cart_item.quantity * conv_ratio}} Points</span>
                                                        </span>
                                                        <span class="offrate" >
                                                            {{cart_item.final_offer  * cart_item.quantity * conv_ratio}} Points</span>

                                </div>
                                <!--<div class="breakoff" ng-show="store_type != 'P'">MRP: <span class="rupee">`</span>{{cart_item.mrp}}</div>-->


                            </div>

                        </div>

                    </li>
                    <li class="shipping">
                        <!--<span class="left_label">Free Shipping On Orders Over <span class="rupee">`</span>500</span>-->
                        <span class="right_label" ng-show="store_type != 'P'">{{shipping}}</span>
                        <span class="right_label" ng-show="store_type = 'P'">{{shipping * conv_ratio}} Points</span>
                        <span class="middle_label">Shipping Charge</span>
                    </li>
                    <li class="total">
                        <span class="totalamount" ng-show="store_type != 'P'"><span class="rupee"></span>{{total_amount_billable}}</span>
                        <span class="totalamount" ng-show="store_type = 'P'">{{total_amount_billable * conv_ratio}} Points</span>
                        <span class="totalamount_label">order TOTAL</span>
                    </li>
                    <li class="placeorder">
                        <a href="#" class="shopping_back">continue shopping</a>
                        <button class="orderbtn" data-ng-click="triggerCheckOut()">Place Order</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


</div>
<!-- Start: Navigation wrapper -->
<ul class="mainnav ui-corner-bottom" data-ng-controller="MenuController">
    <li class="first"><a href="" data-ng-click="open_level1_page('500')">500</a>

        <ul>
            <li data-ng-repeat="l2_500_menu_item in l2_500_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_500_menu_item.link}}">{{l2_500_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_500_menu_item in l3_500_menu | filter:{ParentId:l2_500_menu_item.link}">
                        <a href="#/cat/{{l3_500_menu_item.link}}">{{l3_500_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('1000')">1000</a>

        <ul>
            <li data-ng-repeat="l2_1000_menu_item in l2_1000_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_1000_menu_item.link}}">{{l2_1000_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_1000_menu_item in l3_1000_menu | filter:{ParentId:l2_1000_menu_item.link}">
                        <a href="#/cat/{{l3_1000_menu_item.link}}">{{l3_1000_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('1500')">1500</a>

        <ul>
            <li data-ng-repeat="l2_1500_menu_item in l2_1500_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_1500_menu_item.link}}">{{l2_1500_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_1500_menu_item in l3_1500_menu | filter:{ParentId:l2_1500_menu_item.link}">
                        <a href="#/cat/{{l3_1500_menu_item.link}}">{{l3_1500_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('2000')">2000</a>
        <ul>
            <li data-ng-repeat="l2_2000_menu_item in l2_2000_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_2000_menu_item.link}}">{{l2_2000_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_2000_menu_item in l3_2000_menu | filter:{ParentId:l2_2000_menu_item.link}">
                        <a href="#/cat/{{l3_2000_menu_item.link}}">{{l3_2000_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('2500')">2500</a>
        <ul>
            <li data-ng-repeat="l2_2500_menu_item in l2_2500_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_2500_menu_item.link}}">{{l2_2500_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_2500_menu_item in l3_2500_menu | filter:{ParentId:l2_2500_menu_item.link}">
                        <a href="#/cat/{{l3_2500_menu_item.link}}">{{l3_2500_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('3000')">3000</a>

        <ul>
            <li data-ng-repeat="l2_3000_menu_item in l2_3000_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_3000_menu_item.link}}">{{l2_3000_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_3000_menu_item in l3_3000_menu | filter:{ParentId:l2_3000_menu_item.link}">
                        <a href="#/cat/{{l3_3000_menu_item.link}}">{{l3_3000_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('3500')">3500</a>

        <ul>
            <li data-ng-repeat="l2_3500_menu_item in l2_3500_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_3500_menu_item.link}}">{{l2_3500_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_3500_menu_item in l3_3500_menu | filter:{ParentId:l2_3500_menu_item.link}">
                        <a href="#/cat/{{l3_3500_menu_item.link}}">{{l3_3500_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>
    <li><a href="" data-ng-click="open_level1_page('4000')">4000</a>

        <ul>
            <li data-ng-repeat="l2_4000_menu_item in l2_4000_menu">
                <ul>
                    <li class="title">
                        <a href="#/cat/{{l2_4000_menu_item.link}}">{{l2_4000_menu_item.name}}</a>
                    </li>
                    <li data-ng-repeat="l3_4000_menu_item in l3_4000_menu | filter:{ParentId:l2_4000_menu_item.link}">
                        <a href="#/cat/{{l3_4000_menu_item.link}}">{{l3_4000_menu_item.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="border"></li>
        </ul>
    </li>

    <!--<li><a class="newarrivals" href="#/newarrivals">New Arrivals </a></li>
    <li><a href="#" class="sale">sale </a>
        <ul>
            <li>
                <ul>
                    <li><a href="#/special/9.1.0">Men</a> </li>
                    <li><a href="#/special/9.2.0">Women</a></li>
                    <li><a href="#/special/9.3.0">Kids</a></li>
                    <li><a href="#/special/9.4.0">Mobile & Tablet</a></li>
                    <li><a href="#/special/9.5.0">Home & Kitchen</a></li>
                    <li><a href="#/special/9.6.0">Electronics & Computers</a></li>
                </ul>
            </li>
            <li class="border"></li>
        </ul>
    </li>
    <li><a class="premium" href="#/premium">Premium </a></li>
    <li><a href="#/express" class="express">Express </a></li>-->
</ul>
<!-- End: Navigation wrapper -->
</div>
</div>

<div>
    <!--position: absolute; left: 0; top:0; " >-->
    <div ng-controller="adController">

        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="{{slide.href}}">
                    <img ng-src="{{slide.image}}" style="width: 100%">
                </a>

            </slide>
        </carousel>

    </div>

</div>
<!-- End: HEADER TOP PART-->
</header>

<!--<div ng-include src="'partials/'+{{obj}}+'.html'"></div>-->
<div  ng-controller="adController" >
    <div ng-include src="template.url" >
    </div>
</div>

<!--<div ng-bind-html="{{s}}">-->
<!--<div id="footer">-->
<footer>
    <div class="footer">
        <div class="container footercontainer">
            <!--<div class="box payMethod">
                <div class="heading">Payment Method</div>
                <ul>
                    <li>
                        <img src="Content/custom_images/Footer/Master.png" /></li>
                    <li>
                        <img src="Content/custom_images/Footer/Visa.png" /></li>
                    <li>
                        <img src="Content/custom_images/Footer/Maestro.png" /></li>
                    <li>
                        <img src="Content/custom_images/Footer/NetBanking.png" /></li>
                </ul>
            </div>
            <div class="box socialicon">
                <div class="heading">Connect With Us</div>
                <ul>
                     <li><a href="https://www.facebook.com/annectosindia" target="_blank" class="fb">Facebook</a></li>
                    <li><a href="https://twitter.com/annectos" class="tweet">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/company/annecto-rewards-&-retail-pvt-ltd-/" target="_blank" class="in">Linkedin</a></li>


                </ul>
            </div>
            <div class="box">
                <div class="heading">100% Secure Payment</div>
                <div>
                    <img src="Content/custom_images/Footer/NortonLogo.png" />
                </div>
            </div>-->
                 <div class="footertexta">Rewards are subject to availability and supply restrictions. In case exact model or merchandise mentioned in catalogue is not available at the time of redemption Schneider Electric and the program center will intimate the member of such a status and arrange/offer an alternate model of the merchandise.
</div>

            <div class="box footerlogo">
                <img src="Content/custom_images/Footer/E-selectLogo.png" />
            </div>

        </div>
        <div class="footerbottomlinks">
            <div class="container">
                <ul>
                    <!--<li><a href="#/aboutus">About Us</a></li>-->
                    <li><a href="#/terms">Terms of Use</a></li>

                    <li><a href="#/security_policy">Security Policy</a></li>
                    <li><a href="#/privacy_policy">Privacy Policy</a></li>
                    <!--<li><a href="#/return_policy">Returns Policy</a></li>-->
                    <li><a href="http://demoqa.annectos.net/#/main/contact">Contact us</a></li>
                    <!--<li><a href="#/feedback">Feedback</a></li>-->

                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
<!--<script src="Scripts/angular.js"></script>-->

<!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>-->

<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>-->

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>

<!----- For Tab ---------->
<!--<link href="//mgcrea.github.com/angular-strap/css/prettify.css" rel="stylesheet">-->

<!-- required libraries -->
<!--<script src="//mgcrea.github.com/angular-strap/js/angular-strap.js"></script>-->

<!-- optional libraries -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>-->


<!-------End ------------->
<!--<script src="Scripts/underscore-min.js"></script>-->
<script src="Scripts/localStorageModule.js"></script>
<script src="Scripts/xdate.js"></script>
<!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>-->
<!--<script src="Scripts/jquery.min.js"></script>-->

<!-- Configs-->
<script src="config/config.js"></script>
<script src="config/ad.js"></script>
<script src="config/pricing_rules.js"></script>
<!-- UI Libs -->
<script src="Scripts/jquery.zoom-min.js"></script>
<!--<script src="Scripts/jquery.tinyscrollbar.min.js"></script>-->
<!--<script src="Scripts/jquery.jscrollpane.min.js"></script>-->
<!--<script src="Scripts/jquery.mousewheel.js"></script>-->
<!--<script src="Scripts/ui-bootstrap-0.4.0.min.js"></script>-->
<script src="Scripts/ui-utils.min.js"></script>
<script src="Scripts/to-title-case.js"></script>
<!--<script src="Scripts/ng-grid.min.js"></script>-->



<!-- App libs -->
<script src="app/app.js"></script>
<!--<script src="app/controllers/ecomm.controllers.min.js" charset="UTF-8"></script>-->
<script src="app/controllers/landingController.js"></script>
<script src="app/controllers/menuController.js"></script>
<script src="app/controllers/catController.js"></script>
<script src="app/controllers/productDetailsController.js"></script>
<script src="app/controllers/quickbuyController.js"></script>
<script src="app/controllers/bannerController.js"></script>
<script src="app/controllers/adController.js"></script>
<!--<script src="app/controllers/slide.js"></script>-->
<script src="app/controllers/searchController.js"></script>
<script src="app/controllers/homeController.js"></script>
<script src="app/controllers/offerController.js"></script>
<script src="app/controllers/cartController.js"></script>
<script src="app/controllers/cat1Controller.js"></script>
<script src="app/controllers/brandController.js"></script>
<script src="app/controllers/registrationController.js"></script>
<script src="app/controllers/loginController.js"></script>
<script src="app/controllers/checkoutController.js"></script>
<script src="app/controllers/contactUsController.js"></script>
<script src="app/controllers/feedbackController.js"></script>
<!--<script src="app/controllers/order.js"></script>-->
<script src="app/controllers/orderController.js"></script>
<!-- <script src="app/controllers/paymentController.js"></script>-->
<script src="app/controllers/shippingController.js"></script>
<script src="app/controllers/acct_pointsController.js"></script>

<script src="app/controllers/myorderController.js"></script>
<script src="app/controllers/specialController.js"></script>


<script src="app/controllers/newarrivalsController.js"></script>
<script src="app/controllers/premiumController.js"></script>
<script src="app/controllers/expressController.js"></script>

<script src="app/controllers/activationController.js"></script>
<script src="app/controllers/forgotpwdController.js"></script>
<script src="app/controllers/messageController.js"></script>
<script src="app/controllers/checkout_switchController.js"></script>
<script src="app/controllers/reset_passwordController.js"></script>

<!--<script src="app/services/customersService.js"></script>-->
<script src="app/services/landingService.js"></script>
<script src="app/services/menuService.js"></script>
<script src="app/services/catService.js"></script>
<script src="app/services/productService.js"></script>
<script src="app/services/adService.js"></script>
<script src="app/services/cartService.js"></script>
<script src="app/services/searchService.js"></script>
<script src="app/services/offerService.js"></script>
<script src="app/services/brandService.js"></script>
<script src="app/services/utilService.js"></script>
<script src="app/services/registrationService.js"></script>
<script src="app/services/loginService.js"></script>
<script src="app/services/checkoutService.js"></script>
<script src="app/services/orderService.js"></script>
<!--<script src="app/services/paymentService.js"></script>-->
<script src="app/services/state_managerService.js"></script>
<script src="app/services/acctService.js"></script>
<script src="app/services/myorderService.js"></script>

<script src="app/services/specialService.js"></script>
<script src="app/services/newarrivalsService.js"></script>
<script src="app/services/premiumService.js"></script>
<script src="app/services/expressService.js"></script>
<script src="app/services/activationService.js"></script>
<script src="app/services/forgotpwdService.js"></script>
<script src="app/services/messageService.js"></script>
<!--<script src="app/services/reset_passwordService.js"></script>-->


<script src="app/directives/animatedView.js"></script>
<script src="app/directives/zoomView.js"></script>
<script src="app/directives/scrollView.js"></script>
<!--<script src="app/directives/menuView.js"></script>-->
<script src="app/directives/buttonsRadio.js"></script>
<!--<script src="app/directives/login.js"></script>-->
<!--    <script src="app/directives/tab.js"></script>-->
<!--<script src="app/directives/menuDrop.js"></script>-->

<!--[if lte IE 8]> <script src="Scripts/ieshiv.js"></script><![endif]-->
<!--<script>angular.bootstrap(document, ['ECOMM']);</script>-->


</body>

<!--<script>-->
<!--$(document).ready(function(){-->
<!--alert ("ssss")    ;-->
<!--$('.productImage')-->
<!--.wrap('<span style="display:inline-block"></span>')-->
<!--.css('display', 'block')-->
<!--.parent()-->
<!--.zoom();-->
<!--});-->
<!--</script>-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52120490-1',  'seep-digilink.in');
    ga('send', 'pageview');

</script>
</html>
