
<div class="container middlesection">
    <div class="logincontainer pull-right">
        <div class="heading">Change Password</div>
        <div class="logincontent">
            <p> <div class="iconlog user"></div> <input placeholder="Registered E-mail" type="email" ng-model="email_id" />
            </p>
            <p>
            <div class="iconlog pass"></div> <input placeholder="Old Password" type="password" ng-model="old_password"/>
            </p>
            <p>
            <div class="iconlog pass"></div> <input placeholder="New Password" type="password" ng-model="new_password"/>
            </p>
            <p>
                <input type="submit" value="Submit" ng-click="change_password()" />
            </p>
        </div>
    </div>
    <div class="homeleftContent pull-left">
        <h1><span>SEEP</span> 2014 Schneider Electric Elite Partner Program</h1>
        <p>
            Schneider Electric India welcomes you to a loyalty program, framed exclusively for System
            Integrators PAN India coined as Schneider Electric Elite Partner Program (SEEP). In this program, you will earn benefits in the form of rewards by selling more Digilink & Actassi products in the market place.</p>
    </div>
</div>
