
<div class="container">
    <div class="pagetitle">
        CLAIM ENTRY
    </div>
</div>


<div class="container ">
    <div style="margin-top: 0px" class="profilepage">
    <div style="float: left" class="tablecolorborder">
    <form>
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">
            <p>
                <label>
                    Invoice No *</label>
                <input type="text"  placeholder="Invoice No" ng-model="invo_data.invoice_number">
            </p>
            <p>
                <label for="name">
                    Invoice Amount *</label>
                <input type="text"  placeholder="Invoice Amount" ng-keydown="numeric_only($event)" ng-model="invo_data.invoice_amount">
            </p>
            <p>
                <input type="button" data-ng-click="show_sku_list()" value="SKU List" />
            </p>
        </div>
        <div class="leftsec pull-left">
            <!--<p style="margin-bottom: 20px">-->
                <!--<label for="material">-->
                    <!--Invoice Date *</label>-->
                <!--<input type="text"  placeholder="DD-MM-YYYY" ng-model="invo_data.inv_date">-->

            <!--</p>-->

            <p style="margin-bottom: 20px">
                <label for="material">
                Invoice Date *</label>
            <input type="text" class="form-control" style="display: inline-block;" datepicker-popup="dd/MM/yyyy" ng-model="invo_data.invoice_date" ng-disabled="true" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
            <span style="display: inline-block;" >
            <button type="button" class="btn btn-default" style="padding: 5px 7px ! important;" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
            </button>
            </span>
            </p>

            <!--<p class="input-group">-->
                <!--<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />-->
              <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="open($event)">-->
                    <!--<i class="glyphicon glyphicon-calendar"></i>-->
                <!--</button>-->
              <!--</span>-->
            <!--</p>-->
            <p>
                <label for="product">
                    Distributor *</label>
                <select style="width: 323px;height: 30px;" ng-model="invo_data.retailer" class="pure-input-1-4">
                    <option value="Select Distributor">Select Distributor</option>
                    <option ng-repeat="odl in distributor_list" value="{{odl.name}}">{{odl.name}}</option>
                </select>


            </p>
            <p>
                <input type="file" ng-file-select="onFileSelect($files)"
                       style="background: #00a856;color:#fff;line-height: normal;height: auto;" >
                <!--<input type="submit" value="Brows File" style="background: #00a856;color:#fff;" />-->
                <!--<input type="submit" value="Upload" style="background: #00a856;color:#fff;" />-->
            </p>
            <p>
                <input type="button" data-ng-click="clear_field()" value="Add New Claim" />
                <input type="button" data-ng-click="clear_field()" value="Cancel" />
                <input type="submit" value="Save" ng-disabled="issaveenable" data-ng-click="save_invoice()" />
            </p>
        </div>
    </div>
    </form>
     </div>
    </div>

</div>



<!---SKU List Popup----->


<div class="tree_conatiner" ng-show="list_pop_show" style="border: 1px solid #d0cfcf;width: 1012px; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 50%; top: 50%; margin-left: -506px; margin-top: -250px;"  >
    <div class="close_btn" ng-click="pop_up_close()">
        X
    </div>
    <div class="container">
        <div class="pagetitle tab_head">
            SKU List
        </div>
        <br />

        <div style="margin-top: 0px" class="profilepage">
            <div style="float: left" class="tablecolorborder">
                    <div class="profileinfo pull-left">
                        <div class="leftsec pull-left">
                            <p>
                                <label style="display: inline-block; padding: 10px;">
                                    SKU </label>
                                <input type="text"  placeholder=" SKU" ng-model="searchText">
                            </p>
                        </div>
                        <div class="leftsec pull-left">
                            <!--<p>-->
                                <!--<input type="button" data-ng-click="search_sku_list()" value="SKU Search" />-->
                            <!--</p>-->
                        </div>
                    </div>


            </div>
        </div>
<div style="clear: both"></div>
        <div style="overflow: auto ! important; height: 342px">

        <table width="100%" style="overflow: auto ! important">
            <tr class="trdiv">

                <td class="tddiv">
                    SKU
                </td>
                <td class="tddiv">
                    Description
                </td>


            </tr>
            <tr style="border-bottom:dotted #000 2px;height:30px;text-align: left ; " data-ng-repeat="sl in sku_list | filter:searchText">
                <td>{{sl.sku}}</td>
                <td>{{sl.description }}</td>
            </tr>
        </table>

        </div>
    </div>
</div>
