
<div class="container">
    <div class="pagetitle">
        CONTACT US
    </div>
</div>

<div class="container middlesection contents">
    <div  class="tablecolorborder">
    <div class="dynamic_contents">
        <li><span>Schneider Electric Elite Partner Program<span></li>
        <li>C/O. annecto&sacute; Rewards & Retail Pvt. Ltd.</li>
        <li>No 16 &dash; First Floor, </li>
        <li>Kumara Krupa Road</li>
        <li>Shivananda Circle,</li>
        <li>Bangalore &dash; 560001</li>
        <li>Ph: 9686202046 | 9972334590</li><br>
        <li><span>Time: Monday to Friday (Between 9:30 to 6:30 pm)<span></li>
    </div>
        </div>
</div>
