
<div class="container">
    <div class="pagetitle">
        CONTACT US
    </div>
</div>

<div class="container middlesection contents">
    <div  class="tablecolorborder">
        <div class="dynamic_contents">
            <div class="chartdiv">
            <!--<div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart'></div>-->
                <div
                        data-ac-chart="'bar'"
                        data-ac-data="si_data"
                        data-ac-config="si_config"
                        class="chart">
                </div>
            </div>
        </div>


        <div class="dynamic_contents">
            <div
                    data-ac-chart="'bar'"
                    data-ac-data="top_si_data"
                    data-ac-config="top_si_config"
                    class="chart">
            </div>
        </div>

        <div class="dynamic_contents">
            <div
                    data-ac-chart="'pie'"
                    data-ac-data="si_data_region"
                    data-ac-config="si_config_region"
                    class="chart">
            </div>
        </div>


        <div class="dynamic_contents">
            <div
                    data-ac-chart="'bar'"
                    data-ac-data="si_data_normal"
                    data-ac-config="si_config_normal"
                    class="chart">
            </div>
        </div>


        <div class="dynamic_contents">
            <div
                    data-ac-chart="'bar'"
                    data-ac-data="si_data_special"
                    data-ac-config="si_config_special"
                    class="chart">
            </div>
        </div>


    </div>
</div>
