<div class="container slidesection" ng-controller="SliderCtrl">
    <carousel interval="myInterval" >
        <slide ng-repeat="slide in slides" active="slide.active">
            <a href = "{{slide.href}}">
                <img ng-src="{{slide.image}}" style="margin:auto;">
            </a>
        </slide>
    </carousel>
</div>
<div class="container middlesection">
<div style="width: auto" class="homeleftContent pull-left">
    <h1>Welcome &nbsp<span> {{user.fullname}} </span>! You have Normal Point <span> {{user.total_point}}</span> points approved and available to <a href="/rewards">redeem</a>.</h1>
    <h1>(Regular Program = <span>{{user.credit_point_normal}}</span> points , Special Program = <span>{{user.credit_point_special}}</span> points)</h1>
    <h1><span>Goodyear </span>Tyrepro Service Advisor Program 2015</h1>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
</div>
    </div>
