<div class="container slidesection" ng-controller="SliderCtrl">
    <carousel interval="myInterval" >
        <slide ng-repeat="slide in slides" active="slide.active">
            <a href = "{{slide.href}}">
                <img ng-src="{{slide.image}}" style="margin:auto;">
            </a>
        </slide>
    </carousel>
</div>
<!-- Add your site or application content here -->
<div ui-view></div>
<!-- ***************************************************  -->