
<div class="container middlesection">
    <div class="logincontainer pull-right">
        <div id="login_box" class="heading">Login</div>
        <div  class="logincontent">
            <p> <div class="iconlog user"></div> <input placeholder="Registered E-mail" type="email" ng-model="email_id" />
            </p>
            <p>
            <div class="iconlog pass"></div> <input placeholder="Password" type="password" ng-model="password"/>
            </p>
            <p>
                <input type="submit" value="Submit" ng-click="login()" />

            </p>
        </div>
    </div>
    <div class="homeleftContent pull-left">
        <h1><span>Goodyear</span>Tyrepro Service Advisor Program 2015</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
</div>
