<div class="container">
    <div class="pagetitle">
        MY CLAIMS
    </div>
</div>
<div class="container">
    <div class="tablecolorborder">

        <br />
        <table width="100%" >
            <tr class="trdiv" style="height: 30px;">
                <td class="tddiv">
                    INVOICE NUMBER
                </td>
                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_date'; reverse=!reverse">  INVOICE DATE </a>
                </td>
                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'invoice_amount'; reverse=!reverse">INVOICE TOTAL</a>
                </td>
                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a>
                </td>
                <td class="tddiv">
                    Comments
                </td>

            </tr>
            <tr style="border-bottom:dotted #000 2px;height:30px; text-align: center;" data-ng-repeat="inv in invoice  | orderBy:predicate:reverse">
                <td>
                    {{inv.invoice_number}}
                </td>
                <td>
                    {{inv.invoice_date | date :"dd/MM/yyyy" }}
                </td>
                <td>
                    {{inv.invoice_amount}}
                </td>
                <td>
                    {{inv.status}}
                </td>
                <td>
                <button type="button" class="btn btn-success" ng-click= "invoice_details_by_number(inv.claim_id)" >View</button>
                </td>
            </tr>

        </table>

    </div>

</div>

<!--<div class="alert-overlay2" ng-class="get_lay_out()"></div>-->


<div class="tree_conatiner" ng-show="pop_show" style="border: 1px solid #d0cfcf;width: 1012px; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 50%; top: 50%; margin-left: -506px; margin-top: -250px;"  >
    <div class="close_btn" ng-click="pop_up_close()">
        X
    </div>
    <div class="container">
        <div class="pagetitle tab_head">
            Comment History
        </div>
        <br />
        <table width="100%">
            <tr class="trdiv">

                <td class="tddiv">
                    Date
                </td>
                <td class="tddiv">
                    Time
                </td>
                <td class="tddiv">
                    User
                </td>
                <td class="tddiv">
                    Previous Comments
                </td>


            </tr>
            <tr style="border-bottom:dotted #000 2px;height:30px;text-align: left" data-ng-repeat="cl in comment_list">
                <td>{{cl.comment_date| date :"dd/MM/yyyy"}}</td>
                <td>{{cl.comment_date |date:'h:mm a' }}</td>
                <td>{{cl.user_type}}</td>
                <td>{{cl.comments}}</td>

            </tr>
        </table>
    </div>
</div>

