
<div class="container">
    <div class="pagetitle">
        PROFILE
    </div>
</div>
        <div class="container">
            <div class="tablecolorborder">
                <div style="width:auto" class="container profilepage">
                    <div class="profileinfo pull-left">
                        <div class="leftsec pull-left">
                            <p>
                                <label>First Name</label> <input type="text" required="required" placeholder="First Name" ng-model="user_data.first_name">
                            </p>
                            <p>
                                <label>Email </label><input type="text" required="required" ng-readonly="true" placeholder="Email" ng-model="user_data.email_id">
                            </p>
                            <p style="margin-bottom: 20px">
                                <label>Gender</label>  <label class="customlbl"><input name="gender" type="radio"  ng-model="user_data.gender" value="1" />
                                Male</label> <label class="customlbl"><input name="gender" type="radio" ng-model="user_data.gender" value="2" /> Female</label>
                            </p>
                            <p>
                                <label>Company Founded Date</label>
                                <input type="text" required="required" placeholder="DD-MM-YYYY"
                                       ng-model="user_data.cmp_found_dt">

                            </p>
                            <p>
                                <input type="button" value="Save" data-ng-click="save_user_basic_info()"/>
                            </p>
                        </div>
                        <div class="leftsec pull-left">
                            <p>
                                <label>Last Name</label> <input type="text" required="required"  placeholder="Last Name" ng-model="user_data.last_name">
                            </p>
                            <p>
                                <label>Phone No</label><input type="text" required="required"  placeholder="Last Name" ng-model="user_data.mobile_no">
                            </p>

                            <p>
                                <label>Date of Birth</label><input type="text" required="required"  placeholder="DD-MM-YYYY"
                                                                   ng-model="user_data.user_date_of_birth">
                            </p>
                            <p>
                                <label>Education</label><input type="text"  placeholder="Education" ng-model="user_data.qualification">
                            </p>
                        </div>
                    </div>
                </div>
                <div style="width:auto" class="container profilepage">
                    <div class="border_title">WORK INFORMATION</div>
                    <div class="workinfo">
                        <span class="lbls">COMPANY NAME : {{user_data.company_name}}</span>
                        <span class="lbls">DESIGNATION : {{user_data.designation}}</span>
                        <span class="lbls">PARTNER ID : {{user_data.partner_id}}</span>
                        <span class="lbls">ZONE : {{user_data.region}}</span>
                        <span class="lbls">CITY : {{user_data.extra_city}}</span>
                    </div>
                    <div class="border_title">SETTINGS</div>
                </div>
                <div style="width:auto" class="container profilesetting">
                    <div class="leftsec pull-left">
                        <div class="heading">
                            Your Saved Address
                        </div>
                        <div class="inputlbl"><input type="radio" /> Default Address</div>
                        <div class="address">
                            <div>

                                <div>

                                    <a class="des" href="" data-ng-click="select_address(user_shipping_list)">{{user_shipping_list.fullname}}<br />
                                        {{user_shipping_list.address}} {{user_shipping_list.street}}
                                        <br />
                                        {{user_shipping_list.city}} {{user_shipping_list.state}}
                                        <br />
                                        {{user_shipping_list.zipcode}}<br />
                                        Mobile: {{user_shipping_list.mobile_no}}<br />
                                        <br />
                                    </a>


                                </div>
                            </div>
                            <!--<div>-->
                            <!--<button>Delete Address</button>-->
                            <!--</div>-->
                        </div>

                        <div class="bottomtxt">
                            Any further changes contact +91 9686202046 | 9972334590
                            or mail to <a href="mailto:info@seep-digilink.in" target="_top">info@seep-digilink.in</a>
                        </div>
                    </div>
                    <div class="addNewAdd pull-right">
                        <h1>Update Address </h1>
                        <div class="profilepage">
                            <p>
                                <label>First Name*</label><input type="text" required="required" placeholder="First Name" ng-model="selected_address.first_name">
                            </p>
                            <p>
                                <label>Last Name*</label><input type="text" required="required" placeholder="Last Name" ng-model="selected_address.last_name">
                            </p>
                            <p>
                                <label>Street Address*</label><textarea required="required" placeholder="Address" ng-model="selected_address.address" ></textarea>
                            </p>
                            <p>
                                <label>Landmark*</label><input type="text" required="required" placeholder="Landmark" ng-model="selected_address.street">
                            </p>
                            <p>
                                <label>City*</label><input type="text" required="required" placeholder="City" ng-model="selected_address.city">
                            </p>
                            <p>
                                <label>State*</label>
                                <select ng-model="selected_address.state" style="width: 323px;height: 30px;" ng-options="state.text as state.text for state in state_list">
                                </select>
                            </p>
                            <p>
                                <label>Country</label> <span><b>India</b>(Service available only in India)</span>
                            </p>
                            <p>
                                <label>Pincode*</label><input type="text" required="required" placeholder="Pincode" ng-model="selected_address.zipcode">
                            </p>
                            <p>
                                <label>Phone Number</label><input type="text" required="required" placeholder="Phone Number" ng-model="selected_address.mobile_no">
                            </p>
                            <p>
                                <input type="button" value="Save" data-ng-click="update_user_address()"/>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
