
<div class="container">
    <div class="pagetitle">
        CLAIM DETAILS
    </div>
</div>

<div class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="profileinfo pull-left">
            <div class="leftsec pull-left">
                <p>
                    <label>
                        Invoice No</label>
                    <input type="text" required="required" ng-disabled="true" placeholder="Invoice No" ng-model="inv_detail.invoice_number">
                </p>
                <p>
                    <label for="name">
                        Invoice Amount</label>
                    <input type="text" required="required" ng-disabled="user_type=='schneider admin'" placeholder="Invoice Amount" ng-model="inv_detail.invoice_amount">
                </p>
            </div>
            <div class="leftsec pull-left">
                <p style="margin-bottom: 20px">
                    <label for="material">
                        Invoice Date</label>
                    <!--<input type="text" required="required" ng-disabled="true" placeholder="Invoice Date"  ng-model="invoice_date">-->

                    <input type="text" class="form-control" style="display: inline-block;" placeholder="Invoice Date"  datepicker-popup="dd/MM/yyyy" ng-model="invoice_date" ng-disabled="true" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="btn btn-default" style="padding: 5px 7px ! important;" ng-disabled="user_type=='schneider admin'" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    </span>
                </p>
                <p>
                    <label for="product">
                        Distributor</label>
                    <select style="width: 323px;height: 30px;" ng-disabled="true" ng-model="inv_detail.retailer" class="pure-input-1-4">
                        <option value="Select Distributor">Select Distributor</option>
                        <option ng-repeat="odl in distributor_list" value="{{odl.name}}">{{odl.name}}</option>
                    </select>



            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="pagetitle tab_head">
        Part CODE DETAILS
    </div>
</div>

<div class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">
            <div>
                <p ng-show="user_type!='schneider admin'" >
                    <label class="label_inline" style="width: 100px!important;">
                        Part CODE</label>
                    <input type="text"  placeholder=" Part CODE" ng-model="sku_data">
                </p>


            </div>

        </div>
        <div class="leftsec pull-left">
            <p ng-show="user_type!='schneider admin'">
                <input type="button" value="Add"  data-ng-click="add_sku()" ng-disabled="isenable" style="background: #00a856;color:#fff;margin-top: -3px;" />
            </p>



        </div>
    </div>
</div>





<div class="container">
    <br />
    <table width="100%">
        <tr class="trdiv">
            <td class="tddiv">
                Part CODE
            </td>
            <td class="tddiv">
                STATUS
            </td>
            <td class="tddiv">
                ACTION
            </td>

        </tr>
        <tr style="border-bottom:dotted #000 2px;height:30px;text-align: center" ng-class=os.status data-ng-repeat="os in sku_details">
            <td>{{os.sku}}</td>
            <td>{{os.status}}</td>
            <td>
             <!--<button type="button" class="btn btn-success" ng-click= "search_by_sku(os.sku)" >Search</button>-->
             <!--<button type="button" class="btn btn-success" ng-click= "verify_by_sku(os.sku)" >Verify</button>-->
             <button type="button" class="btn btn-success" ng-show="user_type!='schneider admin'" ng-disabled="isenable" ng-click= "delete_by_sku(os)" >Delete</button>
             <button type="button" class="btn btn-success" ng-show="user_type=='schneider admin'" ng-disabled="isenable" ng-class="part_verify_status(os.status)" ng-click= "approve_reject_by_sku(os)" >Approve</button>
             <!--<button type="button" class="btn btn-success" ng-show="user_type=='schneider admin'" ng-disabled="isenable" ng-class="part_not_verify_status(os.status)" ng-click= "approve_reject_by_sku(os)" >Reject</button>-->
            </td>
        </tr>


    </table>
</div>

<div class="container">
    <div class="pagetitle tab_head">
       Comment History
    </div>
</div>

<div class="container">
    <br />
    <table width="100%">
        <tr class="trdiv">

            <td class="tddiv">
                Date
            </td>
            <td class="tddiv">
                Time
            </td>
            <td class="tddiv">
                User
            </td>
            <td class="tddiv">
                Previous Comments
            </td>


        </tr>
        <tr style="border-bottom:dotted #000 2px;height:30px;text-align: left" data-ng-repeat="cl in comment_list">
            <td>{{cl.comment_date| date :"dd/MM/yyyy"}}</td>
            <td>{{cl.comment_date |date:'h:mm a' }}</td>
            <td>{{cl.user_type}}</td>
            <td>{{cl.comments}}</td>

        </tr>
    </table>
</div>


<div class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">

            <p>
                <label class="label_inline" style="width: 100px!important;">
                    Comments</label>
               <textarea style="width: 100%;" ng-model="approval_comments" ></textarea>
            </p>
            <p>
                <input type="button" value="Approve" ng-disabled="isenable" style="background: #00a856;color:#fff;" ng-click= "insert_claim_details()" />
                <input type="button" value="Reject" ng-disabled="isenable" style="background: #00a856;color:#fff;" ng-click= "reject_claim_details()" />
                <input type="button" value="Send to Schneider" ng-show="user_type!='schneider admin'" ng-disabled="isenable" style="background: #00a856;color:#fff;" ng-click= "send_to_schneider()" />
                <input type="button" value="Back"  style="background: #00a856;color:#fff;" ng-click= "back_to_program()" />
            </p>

        </div>




    </div>
</div>

