
<div class="container">
    <div class="pagetitle">
        PROGRAM MANAGEMENT
    </div>
</div>
        <div class="container">
<div class="tablecolorborder">
<div style="width: auto" class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">
            <div>
                <p>
                    <!--<label class="label_inline">-->
                        <!--Company</label>-->
                    <!--<select ng-model="sel_comp_name" class="pure-input-1-4">-->
                        <!--<option value="Select Company">Select Company</option>-->
                        <!--<option value="schneider">Schneider</option>-->
                    <!--</select>-->
                    <label for="material" class="label_inline">
                        </label>
                    <label style="width: auto; font-weight: normal" class="label_inline"> <input type="radio" name="status"  ng-model="status" value="pending"> Pending</label>
                    <label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="Verified & Approved"> Verified & Approved</label>
                    <label style="width: auto; font-weight: normal" class="label_inline"> <input type="radio" name="status"  ng-model="status" value="Schneider Verification Required"> Schneider Verification Required</label>
                    <label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="Rejected"> Rejected</label>
                    <label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="All"> All</label>


                </p>
            </div>

        </div>
        <div class="leftsec pull-left">


                <p style="margin-bottom: 20px">
                    <!--<label for="material" class="label_inline">-->
                        <!--User</label>-->
                    <!--<select ng-model="retailer_name" class="pure-input-1-4" ng-change="get_invoice_by_retailer_name()">-->
                        <!--<option value="Select User">Select User</option>-->
                        <!--<option ng-repeat="rl in retailer_list" value="{{rl.name}}">{{rl.name}}</option>-->
                    <!--</select>-->



                    <datalist id="all_comp_name_list">
                        <option  data-ng-repeat="ttl in comp_name_list" value="{{ttl}}">
                    </datalist>

                    <label for="material" class="label_inline">
                        SI Name </label>
                    <!--<input type="text" data-ng-model="item.title" list="comicstitle">-->
                    <input type="text" data-ng-model="company_name" list="all_comp_name_list" placeholder=" SI Name" title="SI Name" ng-keyup='get_autocomplete_values()'  ng-blur='get_invoce_by_comp_name()'>
                    <!--<input type="text" ng-model="language" ui-event="{autocompletecreate:'changeClass(myOption)'}" ui-autocomplete="myOption">-->
                </p>
    </div>
</div>
<div style="width: auto" class="container">
    <div class="box_top">
        <span class="heading">INVOICE DETAILS</span>
    </div>
</div>
<div style="width: auto" class="container">
    <div class="tablecolorborder">

        <br />
        <table width="100%" >
            <tr class="trdiv" style="height: 30px;">
                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_date'; reverse=!reverse">INVOICE DATE</a>
                </td>

                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_number'; reverse=!reverse">INVOICE NUMBER</a>
                </td>

                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'invoice_amount'; reverse=!reverse">INVOICE TOTAL</a>
                </td>
                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'company_name'; reverse=!reverse">SI Name</a>
                </td>
                <td class="tddiv">
                    <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a>
                </td>
                <td class="tddiv">
                    INVOICE LINK
                </td>


            </tr>
            <tr style="border-bottom:dotted #000 2px;height:30px; text-align: center;" data-ng-repeat="inv in invoice  | orderBy:predicate:reverse">

                <td>
                    {{inv.invoice_date| date :"dd/MM/yyyy" }}
                </td>

                <td>
                    {{inv.invoice_number}}
                </td>

                <td>
                    {{inv.invoice_amount}}
                </td>
                <td>
                    {{inv.company_name}}
                </td>
                <td>
                    {{inv.status}}
                </td>
                <td>
                <button type="button" class="btn btn-success" ng-click= "invoice_details_by_number(inv.claim_id)" >Details</button>
                    <img ng-click="download_invoice(inv.supporting_doc);" style="cursor: pointer;" src="images/download.png">
                </td>


            </tr>

        </table>

    </div>

</div>
    </div>
</div>


            <div class="loader" ng-show="show_loader">

                <img src="images/loading_blue.gif">

            </div>





