<div class="container">
    <div class="pagetitle">
        REDEMPTION
    </div>
</div>
<div class="container">

    <div  class="tablecolorborder">
        <br />
        <table  width="100%">
            <tr class="trdiv">
                <td class="tddiv">
                    DATE
                </td>
                <td class="tddiv">
                    ORDER NO
                </td>
                <td class="tddiv">
                    TOTAL POINTS
                </td>
                <td class="tddiv">
                    STATUS
                </td>
                <td class="tddiv">
                    VIEW MORE
                </td>
            </tr>
            <tr data-ng-repeat="or in my_orders"  style="border-bottom:dotted #000 2px;height:50px;">
                <td>
                    {{or.create_ts | date: 'MMM-dd-yyyy'}}
                </td>
                <td>

                    {{or.order_id}}
                </td>
                <td>


                    {{or.total_amount}}
                </td>
                <td>

                    {{or.payment_info}}
                </td>
                <td>
                    <input type="image" ng-click="goto_redemption_more(or)" src="images/glass.png" class="img_class">
                </td>
            </tr>

        </table>
    </div>
</div>


