
<div class="container">
    <div class="pagetitle">
        VIEW MORE
    </div>
</div>
<br>
<div class="container" >
    <div class="pagetitle" style="display:inline">
        ORDER
    </div>
</div>
<div class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">
            <div>
                <p>
                    <label class="label_inline">
                        Order Date</label>
                    {{order_date | date: 'MMM-dd-yyyy'}}
                    <label></label>
                </p>
            </div>

        </div>
        <div class="leftsec pull-left">
            <p style="margin-bottom: 20px">
                <label for="material" class="label_inline">
                    Status</label>
                <input type="text" ng-model="status">
            </p>



        </div>
    </div>
</div>

<div class="container" >
    <div class="pagetitle" style="display:inline">
        ACCOUNT INFORMATION
    </div>
</div>

<div class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">
            <div>
                <p>
                    <label class="label_inline">
                        Customer Name</label>
                    <input type="text" ng-model="redemptionmore_details.name">
                </p>

                <p>
                    <label class="label_inline">
                        Contact No</label>
                    <input type="text" ng-model="redemptionmore_details.mobile_number">
                </p>
            </div>

        </div>
        <div class="leftsec pull-left">
            <p style="margin-bottom: 20px">
                <label for="material" class="label_inline">
                    Email</label>
                <input type="text" ng-model="redemptionmore_details.user_id">
            </p>

            <p style="margin-bottom: 20px">
                <label for="material" class="label_inline" >
                    Points Balance</label>
                <input type="text" ng-model="points">
            </p>

        </div>
    </div>
</div>

<div class="container" >
    <div class="pagetitle" style="display:inline">
        ADDRESS
    </div>
</div>

<div class="container profilepage">
    <div class="profileinfo pull-left">
        <div class="leftsec pull-left">
            <div>
                <p>
                    <label class="label_inline" style="width: 100px!important;">
                        Billing Address</label>
                    <textarea style="width: 305px;height: 85px;" ng-model="redemptionmore_details.address"></textarea>
                </p>
            </div>

        </div>
        <div class="leftsec pull-left">
            <p style="margin-bottom: 20px">
                <label for="material" class="label_inline" style="width: 100px!important;">
                    Shipping Address</label>
                <textarea style="width: 305px;height: 85px;" >{{redemptionmore_details.name}}
{{redemptionmore_details.city}} {{redemptionmore_details.state}} {{redemptionmore_details.pincode}} {{redemptionmore_details.mobile_number}}
                </textarea>
            </p>



        </div>
    </div>
</div>

<div class="container" >
    <div class="pagetitle" style="display:inline">
        ITEMS ORDERED
    </div>

    <div class="container" >
    <div  class="tablecolorborder">
        <br />
        <table  width="100%">
            <tr class="trdiv">
                <td class="tddiv">
                    Product Id
                </td>
                <td class="tddiv">
                    Product SKU
                </td>
                <td class="tddiv">
                    Product Name
                </td>
                <td class="tddiv">
                    Brand
                </td>
                <td class="tddiv">
                    Quantity
                </td>
                <td class="tddiv">
                   Unit Price
                </td>
                <td class="tddiv">
                  Discount
                </td>
                <td class="tddiv">
                    Sub Total
                </td>
            </tr>
            <tr data-ng-repeat="or in order_information"  style="border-bottom:dotted #000 2px;height:50px;">
                <td>
                    {{or.cart_item_id}}
                </td>
                <td>

                    {{or.sku}}
                </td>
                <td>


                    {{or.name}}
                </td>
                <td>

                    {{or.brand}}
                </td>

                <td>

                    {{or.quantity}}
                </td>

                <td>

                    {{or.mrp}}
                </td>

                <td>

                    {{or.discount}}
                </td>
                <td>
                    {{or.quantity * or.final_offer  *1 }}

                </td>
    </tr>
            </table>

</div>
    </div>

    <div class="container" >
    <div class="pagetitle" >

    </div>
</div>


