
<div class="container">
    <div class="pagetitle">
        SEEP
    </div>
</div>

<div class="container ">
    <div class="middlesection contents">
        <div class="tablecolorborder">
            <!-- tab starts here-->
            <section class="tabs">
                <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
                <label for="tab-1" class="tab-label-1">Program</label>

                <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
                <label for="tab-2" class="tab-label-2">T&C</label>

                <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
                <label for="tab-3" class="tab-label-3">FAQ</label>

                <div class="clear-shadow"></div>

                <div class="content">
                    <div class="content-1">
                        <ul style="list-style-type: none">
                            <li><span>Schneider Electric Elite Partner Program (SEEP):</span></li>
                            Schneider Electric India welcomes you to an exclusive loyality program for System Integrators PAN India The Schneider Electric Elite Partner Program (SEEP). In this program, you will earn benefits in the form of rewards for selling more Digilink & Actassi products in the market place. </li><br>

                            <li>Who Should Participate - System Integrator's PAN India.</li>
                            <li>Time frame -1st June- 31st December, 2014</li>

                            <li><span>Benefits of participating :</span></li>
                            <ul class="innerlist">
                                <li>As an exclusive and registered member in the SEEP program, System integrator will get below mentioned privileges</li>
                                <li>Attractive incentives & rewards</li>
                                <li>Sales & Marketing support</li>
                                <li>Priority technical support</li>
                                <li>Exclusive invites to future events</li>
                                <li>Regular updates on product/offerings in near future</li>
                            </ul><br>
                            <li><span>Incentive Slab</span></li><br>
                            <img src="images/slab.jpg"><br>

                            <li><span>About Digilink :</span></li>
                            <li>Digilink is an industry leader in providing end to end range of structured cabling solutions for enterprises, small and medium business. It is one of the oldest and also a top grossing SCS Brand in India. Our 'Future proof' products deliver unparallel value and enable our customers to excel through lower total network ownership costs, enhanced productivity, total reliability and easy scalability of their networks.</li>

                            <li>For more details on products & offerings from Digilink, please click on below link and visit our website
                                <span>Website: http://www.digilink.in</span></li>
                        </ul>
                    </div>
                    <div class="content-2">
                        <ol>
                            <li>Schneider Electric Elite Partner Program (SEEP) is offered by Schneider Electric India for all System Integrators (SIs).</li>
                            <li>Only registered and approved System Integrators of India can participate in the program.</li>
                            <li>The reward points are valid only on purchase of genuine <strong>Schneider Electric - Digilink & Actassi products.</strong></li>
                            <li>
                                Points are categorized in two categories:
                                <ol style="list-style:lower-alpha ; margin:0;">
                                    <li>
                                        Un-cleared points: Awarded for each sale reported by the System Integrators.
                                    </li>
                                    <li>Cleared points: Un-cleared points will be converted into Cleared points only once the program center has validated the sale made by the System Integrators.</li>
                                </ol>
                            </li>
                            <li>System Integrators can only earn points against the eligible products as mentioned in the program website.</li>
                            <li>Program benefits are not transferable and points earned cannot be shared between the registered members.</li>
                            <li>Neither Schneider Electric India nor its subsidiaries or agencies will be held responsible for lost, late, misdirected, damaged, incomplete or illegible promotional materials or typographical or other errors in printing or advertising of materials.</li>
                            <li>The images shown in the online reward catalogue may differ from the actual product.</li>
                            <li>Registered System Integrators are responsible for all applicable taxes (if any).</li>
                            <li>All products are available without this promotion also.</li>
                            <li>Benefits can neither be exchanged for cash under any circumstances</li>
                            <li>The claim has to be made to the appointed agency and will be considered only once you have enough cleared points available for redemptions.</li>
                            <li>Schneider Electric India has the right to ask for furnishing the true copies of the invoices for the product purchased by the system integrators</li>
                            <li>Schneider Electric India reserves the right to change, modify or discontinue the program at any given point of time without assigning any reason(s) for the same.</li>
                            <li>All products featured in the rewards catalog are subject to availability of the goods and supplier warranties restrictions at the time of redemption. Schneider Electric India nor its managing agency provides no warranty (whether expressly or implied) whatsoever with respect to the product/services acquired under the rewards program.</li>
                            <li>Schneider Electric India or its managing agency reserves the right to cancel, change or substitute any reward at any time without any prior notice.</li>
                            <li>Redemption request once given cannot be cancelled or withdrawn or changed. On redemption, the rewards points would automatically be subtracted from the accumulated balance.</li>
                            <li>Computation of the reward mechanics shall be final, conclusive and binding on the participating System Integrators and will not be liable to be disputed or questioned.</li>
                            <li>The participating partners have to ensure that they furnish information in its true form and any wrongly represented information will result in permanent disqualification, from the program and schemes run by Schneider Electric India.</li>
                            <li>All disputes will be settled under the New Delhi jurisdiction.</li>
                        </ol>
                    </div>

                    <div class="content-3">
                        <ul style="list-style-type: none">
                            <li><strong>Q.1&nbsp; SEEP? What about it?</strong></li>
                            <li style="margin-left: 40px;">Schneider Electric Elite Partner Program (SEEP)is a unique training cum rewards program. Being a part of SEEP, you will simply be able to learn SEEP skills and earn rewards. SEEP will enhance your technical skills and subsequently your career too.</li><br>
                            <li><strong>Q.2&nbsp; Who all are eligible to become SEEP?</strong></li>
                            <li style="margin-left: 40px;">The program is open to ALL the System Integrators of IT hardware industry.</li><br>
                            <li><strong>Q.3&nbsp; How can I enroll in SEEP Program?</strong></li>
                            <li style="margin-left: 40px;">The program is open to ALL the System Integrators of IT hardware industry.</li><br>
                            <li><strong>Q.4&nbsp; Please let me know my role also in the program. What am I supposed to do?</strong></li>
                            <li style="margin-left: 40px;">If you like your job and love helping people with broken down machines…then just help them further by making their machines secured using Schneider Electric - Digilink & Actassi products.</li><br>
                            <li><strong>Q.5&nbsp;What is in it for me?</strong></li>
                            <li style="margin-left: 40px;">Each sale reported earn you un-cleared points, same information once verified by our team converts those points to cleared points and with cleared points in your kitty you can avail exciting gifts from our reward catalog created especially for you.</li><br>
                            <li><strong>Q.6&nbsp; How does SEEP program benefit me in the long run?</strong></li>
                            <li style="margin-left: 40px;">Now when we conceived the idea for SEEP program long term benefits for you is what we were aiming at. You will have a great treasure of knowledge with you and we all know that such a treasure can never be lost. You will also be earning lots of reward points for yourself. This surely is a excellent opportunity.</li><br>
                            <li><strong>Q.7&nbsp; How can I contact you?</strong></li>
                            <li style="margin-left: 40px;">Email your query to: <a href="mailto:info@seep-digilink.in">info@seep-digilink.in</a></li>
                            <li style="margin-left: 40px;">Call:
                                <ol style="list-style:circle">
                                    <li><strong>For SEEP Program center details: </strong>9972334590 (Monday to Friday – 9:30 AM to 5:30 PM)</li>
                                    <li><strong>For other information on Digilink & Actassi products, offerings and support:</strong></li>
                                    <li style="list-style:none;">0124 39404000 (Monday to Saturday – 9:00 AM to 8:00 PM)</li>
                                    <li  style="list-style:none;">1800 180 1707 (BSNL)</li>
                                    <li  style="list-style:none;">1800 103 0011 (Airtel)</li>
                                </ol>

                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
