
<div class="container">
    <div class="pagetitle">
        Goodyear
    </div>
</div>

<div class="container ">
    <div class="middlesection contents">
        <div class="tablecolorborder">
            <!-- tab starts here-->
            <section class="tabs">
                <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" ng-checked="special_ids" />
                <label for="tab-1" class="tab-label-1">Tab 1</label>

                <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" ng-checked="special_ebw" />
                <label for="tab-2" class="tab-label-2">Early Bird</label>


                <div class="clear-shadow"></div>

                <div class="content">
                    <div class="content-1">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                            <tr>
                                <td align="center" valign="top" id="bodyCell">
                                    <!-- BEGIN TEMPLATE // -->
                                    <table border="0" cellpadding="0" cellspacing="0"  id="templateContainer">


                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- BEGIN BODY // -->
                                                <table border="0" cellpadding="0" cellspacing="0"  id="templateBody">
                                                    <tr>
                                                        <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                            <tbody class="mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="mcnTextBlockInner">

                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"  class="mcnTextContentContainer">
                                                                        <tbody><tr>

                                                                            <td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #6DBE21;">


                                                                                <!--<p>As a part of the SEEP - 2014 program. Schneider Electric is glad to announce the Independence Offer<br>
                                                                                    to all our SEEP&nbsp;business partners.<br>
                                                                                    <br>
                                                                                    <strong>Independence Offer Program Duration: August 15th to September 15th 2014.<br>
                                                                                        Eligibility: All registered System Integrators for SEEP 2014.</strong></p>-->

                                                                                <ul>
                                                                                    <li><span style="color:#000000">Lorem Ipsum is simply dummy text of the printing</span><span style="color:#07924c">Lorem Ipsum is simply dummy</span></li>
                                                                                    <li><span style="color:#000000">Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy</span><span style="color:#000000">Lorem Ipsum is simply dummy</span></li>
                                                                                    <li><span style="color:#000000">Lorem Ipsum</span><span style="color:#07924c">Lorem Ipsum is simply dummy</span><span style="color:#000000"> Lorem Ipsum is simply dummy text of the printingLorem Ipsum</span></li>
                                                                                    <li><span style="color:#000000">Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy </span><span style="color:#07924c">Lorem Ipsum is simply dummy</span></li>
                                                                                    <li><span style="color:#000000">Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy</span></li>
                                                                                    <li><span style="color:#000000">Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy </span><span style="color:#07924c">Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy</span></li>
                                                                                </ul>

                                                                                <p><br>
                                                                                    <strong style="font-size:18px">HURRY! MAXIMISE on this OFFER!</strong><br>
                                                                                    <em>For more details about the contest.<br>
                                                                                        Call us on +91 9686202046/9972334590<br>
                                                                                        (Mon-Fri 9:30am to 6:30pm) or mail us at info@seep-digilink.in</em><br>
                                                                                    <br>
                                                                                    Sincerely,<br>
                                                                                    Goodyear<br>
                                                                                    <img src="images/logo.png">
                                                                                    <br>
                                                                                    <strong>*Terms &amp; Conditions:</strong><br>
                                                                                <p style="font-size: 9px">1. All approved and valid invoices only will be considered for the program 2. Program benefits cannot be transfered or shared 3. Program benefits cannot be exchanged for cash or any other kind 4. Schneider Electric India has the right to ask fr furnishing the true copies of the invoices 5.Schneider Electric India reserves the right to change,modify or discontinue the program at any given point of time without assigning any reason(s) for the same 6. Images & colors of prizes featured in the promotional communication & material are of representative purpose only. The actual products may vary. 7. Schneider Electri India or its managing agency reserves the right to cancel,change or substitute any reward at any time without any pirrior notice 8. Computation of reward points is final,compulsive and binding on the participating bussiness patners 9. Schneider Electric or its program managing agency is not liable or responsible for any manufacturing or product defects post usage. 10. The standard warrenty terms of the manufactures would be applicable and must be directly addressed to the manufactures of the brand.&nbsp;</p><br>
                                                                                <br>
                                                                                <br>
                                                                                </p>



                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table></td>
                                                    </tr>
                                                </table>
                                                <!-- // END BODY -->
                                            </td>
                                        </tr>

                                    </table>
                                    <!-- // END TEMPLATE -->
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-2">
                        <h2>Early Bird Winners</h2>
                        <p><img src="images/specialedm.jpg"><br></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
